<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'left-img-input'" class="very-small">
    <div class="heading">
      <h1>With Icon Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label">{{ label }}</label>
      <div class="input-wrapper lg left-icon">
        <span class="icon-Icon-Stroke-4 icon icon-1"></span>
        <input type="text" class="medium" [placeholder]="label" />

        <span class="icon-Vector-7 icon icon-2"></span>
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>
</div>

<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'right-img-input'" class="very-small">
    <div class="heading">
      <h1>With Icon Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label">{{ label }}</label>
      <div class="input-wrapper lg right-icon">
        <span class="icon-Icon-Stroke-4 icon icon-1"></span>

        <input type="text" class="medium" [placeholder]="label" />

        <span class="icon-Vector-7 icon icon-2"></span>
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>
</div>

<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'both-img-input'" class="very-small">
    <div class="heading">
      <h1>With Icon Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label">{{ label }}</label>
      <div class="input-wrapper lg both-icon">
        <span class="icon-Icon-Stroke-4 icon icon-1"></span>
        <input type="text" class="medium" [placeholder]="label" />
        <span class="icon-Vector-7 icon icon-2"></span>
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>
</div>
