<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'primary-tabs'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
         Tabs, in the context of user interfaces, are a design pattern used to organize content into multiple sections or categories within the same space. Tabs typically appear as horizontal or vertical rows of clickable elements, allowing users to switch between different sections of content without navigating to separate pages.
        </p>
      </div>
      <!-- <div class="second-container">
        <div class="heading">
          <h2>Primary</h2>
        </div>
        <div class="containers">
          <div class="tabs-container">
            <div class="tab-buttons">
              <button
                [class.active]="selectedTab === 'desktop'"
                (click)="selectTab('desktop')"
              >
                Auditor
              </button>
              <button
                [class.active]="selectedTab === 'laptop'"
                (click)="selectTab('laptop')"
              >
                Auditee
              </button>
            </div>

            <div class="tab-content">
              <ng-container [ngSwitch]="selectedTab">
                <div *ngSwitchCase="'auditor'">Auditor</div>

                <div *ngSwitchCase="'auditee'">Auditee</div>
              </ng-container>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div *ngSwitchCase="'secondary-tabs'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
         Tabs, in the context of user interfaces, are a design pattern used to organize content into multiple sections or categories within the same space. Tabs typically appear as horizontal or vertical rows of clickable elements, allowing users to switch between different sections of content without navigating to separate pages.
        </p>
      </div>
      <!-- <div class="second-container">
        <div class="heading">
          <h2>Primary</h2>
        </div>
        <div class="containers">
          <div class="tabs-container">
            <div class="tab-buttons">
              <button
                [class.active]="selectedTab === 'desktop'"
                (click)="selectTab('desktop')"
              >
                Auditor
              </button>
              <button
                [class.active]="selectedTab === 'laptop'"
                (click)="selectTab('laptop')"
              >
                Auditee
              </button>
            </div>

            <div class="tab-content">
              <ng-container [ngSwitch]="selectedTab">
                <div *ngSwitchCase="'auditor'">Auditor</div>

                <div *ngSwitchCase="'auditee'">Auditee</div>
              </ng-container>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div *ngSwitchCase="'tertiary-tabs'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
         Tabs, in the context of user interfaces, are a design pattern used to organize content into multiple sections or categories within the same space. Tabs typically appear as horizontal or vertical rows of clickable elements, allowing users to switch between different sections of content without navigating to separate pages.
        </p>
      </div>
      <!-- <div class="second-container">
        <div class="heading">
          <h2>Primary</h2>
        </div>
        <div class="containers">
          <div class="tabs-container">
            <div class="tab-buttons">
              <button
                [class.active]="selectedTab === 'desktop'"
                (click)="selectTab('desktop')"
              >
                Auditor
              </button>
              <button
                [class.active]="selectedTab === 'laptop'"
                (click)="selectTab('laptop')"
              >
                Auditee
              </button>
            </div>

            <div class="tab-content">
              <ng-container [ngSwitch]="selectedTab">
                <div *ngSwitchCase="'auditor'">Auditor</div>

                <div *ngSwitchCase="'auditee'">Auditee</div>
              </ng-container>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
