<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'primary-tabs'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          Tabs, in the context of user interfaces, are a design pattern used to
          organize content into multiple sections or categories within the same
          space. Tabs typically appear as horizontal or vertical rows of
          clickable elements, allowing users to switch between different
          sections of content without navigating to separate pages.
        </p>
      </div>
      <div class="second-container">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav nav-tabs">
          <li [ngbNavItem]="'auditor'" class="nav-item">
            <a ngbNavLink class="nav-link">Auditor</a>
            <ng-template ngbNavContent>
              <p>This is the content for <strong>Auditor</strong>.</p>
            </ng-template>
          </li>
          <li [ngbNavItem]="'auditee'" class="nav-item">
            <a ngbNavLink class="nav-link">Auditee</a>
            <ng-template ngbNavContent>
              <p>This is the content for <strong>Auditee</strong>.</p>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tertiary-tabs'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          Tabs, in the context of user interfaces, are a design pattern used to
          organize content into multiple sections or categories within the same
          space. Tabs typically appear as horizontal or vertical rows of
          clickable elements, allowing users to switch between different
          sections of content without navigating to separate pages.
        </p>
      </div>
      <div class="second-container">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav nav-button-tabs">
          <li [ngbNavItem]="'auditor'" class="nav-item-button">
            <a ngbNavLink class="nav-link">Auditor</a>
            <ng-template ngbNavContent>
              <p>This is the content for <strong>Auditor</strong>.</p>
            </ng-template>
          </li>
          <li [ngbNavItem]="'auditee'" class="nav-item-button">
            <a ngbNavLink class="nav-link">Auditee</a>
            <ng-template ngbNavContent>
              <p>This is the content for <strong>Auditee</strong>.</p>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
