<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'table'">
    <table class="table-container">
      <thead>
        <tr>
          <th class="head">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>
            Sub Process
          </th>
          <th>Activity</th>
          <th>Risk</th>
          <th>Severity</th>
          <th>Control</th>
          <th>Automatable</th>
          <th>Checkpoint</th>
          <th>
            <span class="icon-Icon-Stroke-3"></span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--danger vs">AI</button>
            Antivirus Installation
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--danger">High</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--success vs">IA</button>

            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--warning">Medium</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--purple vs">IT</button>
            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
           <button class="d-btn-small d-btn-small--success">Low</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>

        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--danger vs">AI</button>
            Antivirus Installation
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--danger">High</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--success vs">IA</button>

            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--warning">Medium</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--purple vs">IT</button>
            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
           <button class="d-btn-small d-btn-small--success">Low</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--danger vs">AI</button>
            Antivirus Installation
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--danger">High</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--success vs">IA</button>

            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--warning">Medium</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--purple vs">IT</button>
            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
           <button class="d-btn-small d-btn-small--success">Low</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--danger vs">AI</button>
            Antivirus Installation
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--danger">High</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--success vs">IA</button>

            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--warning">Medium</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>

        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--purple vs">IT</button>
            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
           <button class="d-btn-small d-btn-small--success">Low</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>

        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--success vs">IA</button>

            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--warning">Medium</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--purple vs">IT</button>
            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
           <button class="d-btn-small d-btn-small--success">Low</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--danger vs">AI</button>
            Antivirus Installation
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--danger">High</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--success vs">IA</button>

            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--warning">Medium</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>
        
        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--success vs">IA</button>

            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--warning">Medium</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--purple vs">IT</button>
            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
           <button class="d-btn-small d-btn-small--success">Low</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--danger vs">AI</button>
            Antivirus Installation
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--danger">High</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>


        <tr>
          <td class="first-row">
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>

            <button class="d-btn--circle light-bg--success vs">IA</button>

            Internal Audit
          </td>
          <td>Antivirus Installed on...</td>
          <td>There are many variations...</td>
          <td>
            <button class="d-btn-small d-btn-small--warning">Medium</button>
          </td>
          <td>It is a long estab...</td>
          <td>No</td>
          <td>Contrary to popular be...</td>
          <td>
              <span class="icon-dots-horizontal-5 icon--xxl more-icon"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
