<div [ngSwitch]="type">
  <div *ngSwitchCase="'success'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          Alerts are user interface components used to provide important
          information or notifications to users. They typically appear as pop-up
          messages or banners within an application or website, alerting users
          to events, errors, or other relevant information that requires their
          attention.
        </p>
      </div>

      <div class="containers">
        <!-- <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> Better check yourself, you're not looking
          too good.
        </ngb-alert> -->

       
      </div>
    </div>
  </div>
</div>


