

// 1920 typography pr jitne bhi font-size hai unhe yha likhna hai

//font size variabless
$fs-32 :32px;
$fs-28 :28px;
$fs-22 :22px;
$fs-20 :20px;
$fs-18 :18px;
$fs-16 :16px;
$fs-14 :14px;
$fs-13 :13px;
$fs-12 :12px;

//font size classess
$fonts: (
  "12": 12px,
  "13": 13px,
  "14": 14px,
  "16": 16px,
  "18": 18px,
  "20": 20px,
  "22": 22px,
  "28": 28px,
  "32": 32px,
);
@each $key, $value in $fonts {
  .fs-#{$key} {
    font-size: $value;
  }
}



/****************line height variables*************/
$lh-42: 42px;
$lh-30: 30px;
$lh-26: 26px;
$lh-24: 24px;
$lh-22: 22px;
$lh-20: 20px;

/*******************line height classes**************/
$line-height: (
    "42":42px,
    "30":30px,
    "26":26px,
    "24":24px,
    "22":22px,
    "20":20px,
);
@each $key, $value in $line-height {
  .lh-#{$key} {
    line-height: $value;
  }
}


/***************** font-weight classess***********/
$font-weight: (
  "300": 300,
  "400": 400,
  "500": 500,
  "700": 700,
  "800": 800,
);

@each $key, $value in $font-weight {
  .fw-#{$key} {
    font-weight: $value;
  }
}


/**************font weight variables **************/
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
$font-bolder: 700;
$font-extra-bold: 800;
