<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'small-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          Chips are a user interface component used to represent small pieces of
          information or interactive elements in a compact and visually
          appealing way. They are often used to display tags, contacts, or
          selections in a list format.
        </p>
      </div>
      <div class="second-container">
        <div class="heading">
          <h2>28 Size</h2>
        </div>

        <div class="containers">
          <div class="chips chips--sm">
            <p>Application</p>

            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>

          <div class="chips chips--sm">
            <p>Predefined</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>

          <div class="chips chips--sm">
            <p>Variations</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>

          <div class="chips chips--sm">
            <p>Database</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>

          <div class="chips chips--sm">
            <p>Passages</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="second-container">
        <div class="heading">
          <h2>22 Size</h2>
        </div>

        <div class="containers">
          <div class="chips chips--vs">
            <p>Application</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>

          <div class="chips chips--vs">
            <p>Predefined</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>

          <div class="chips chips--vs">
            <p>Variations</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>

          <div class="chips chips--vs">
            <p>Database</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>

          <div class="chips chips--vs">
            <p>Passages</p>
            <div class="cross-sign">
              <span class="icon-Icon-Stroke1"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
