<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'simple-radio'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Radio Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="containers">
        <label class="custome-radio custome-radio--vs">
          <input type="radio" />
          <span class="radiomark"></span>
        </label>
        <label class="custome-radio custome-radio--sm">
          <input type="radio" />
          <span class="radiomark"></span>
        </label>
        <label class="custome-radio custome-radio--md">
          <input type="radio" />
          <span class="radiomark"></span>
        </label>
        <label class="custome-radio custome-radio--lg">
          <input type="radio" />
          <span class="radiomark"></span>
        </label>
        <label class="custome-radio custome-radio--xl">
          <input type="radio" />
          <span class="radiomark"></span>
        </label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'rounded-radio'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Radio Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="containers">
        <label
          class="custome-radio custome-radio--vs custome-radio--outer-circle-border"
        >
          <input type="radio" />
          <span class="radiomark radiomark--circle"></span>
          Radio
        </label>
        <label
          class="custome-radio custome-radio--sm custome-radio--outer-circle-border"
        >
          <input type="radio" />
          <span class="radiomark radiomark--circle"></span>
          Radio
        </label>
        <label
          class="custome-radio custome-radio--md custome-radio--outer-circle-border"
        >
          <input type="radio" />
          <span class="radiomark radiomark--circle"></span>
          Radio
        </label>
        <label
          class="custome-radio custome-radio--lg custome-radio--outer-circle-border"
        >
          <input type="radio" />
          <span class="radiomark radiomark--circle"></span>
          Radio
        </label>
        <label
          class="custome-radio custome-radio--xl custome-radio--outer-circle-border"
        >
          <input type="radio" />
          <span class="radiomark radiomark--circle"></span>
          Radio
        </label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'building-radio'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Radio Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="containers">
        <div class="building-container-checkbox">
          <span class="icon-Frame"></span>
          Company
          <label class="custome-radio custome-radio--vs">
            <input type="radio" />
            <span class="radiomark radiomark--circle"></span>
          </label>
        </div>
        <div class="building-container-checkbox">
          <span class="icon-Frame-1"></span>
          Company
          <label class="custome-radio custome-radio--vs">
            <input type="radio" />
            <span class="radiomark radiomark--circle"></span>
          </label>
        </div>
        <div class="building-container-checkbox">
          <span class="icon-Frame-2"></span>
          Company
          <label class="custome-radio custome-radio--vs">
            <input type="radio" />
            <span class="radiomark radiomark--circle"></span>
          </label>
        </div>
      </div>
    </div>
    <!-- ======================================= Radio ==================================-->
  </div>
</div>
