<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'simple-radio'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Radio Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="containers">
        <label class="custom-radio radio-vs">
          <input type="radio" name="option" value="1" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
        </label>

        <label class="custom-radio radio-sm">
          <input type="radio" name="option" value="2" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
        </label>

        <label class="custom-radio radio-md">
          <input type="radio" name="option" value="3" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
        </label>

        <label class="custom-radio radio-lg">
          <input type="radio" name="option" value="4" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
        </label>

        <label class="custom-radio radio-xl">
          <input type="radio" name="option" value="5" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'rounded-radio'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Radio Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="containers">
        <label class="custom-radio radio-vs custom-radio--outer-circle-border">
          <input type="radio" name="option" value="1" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
          Radio
        </label>

        <label class="custom-radio radio-sm custom-radio--outer-circle-border">
          <input type="radio" name="option" value="2" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
          Radio
        </label>

        <label class="custom-radio radio-md custom-radio--outer-circle-border">
          <input type="radio" name="option" value="3" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
          Radio
        </label>

        <label class="custom-radio radio-lg custom-radio--outer-circle-border">
          <input type="radio" name="option" value="4" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
          Radio
        </label>

        <label class="custom-radio radio-xl custom-radio--outer-circle-border">
          <input type="radio" name="option" value="5" />
          <div class="radio-box">
            <div class="radio-dot"></div>
          </div>
          Radio
        </label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'building-radio'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Radio Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="containers">
        <div class="building-container-checkbox">
          <span class="icon-Frame"></span>
          Company
          <label class="custom-radio radio-md">
            <input type="radio" name="option" value="3" />
            <div class="radio-box">
              <div class="radio-dot"></div>
            </div>
          </label>
        </div>
        <div class="building-container-checkbox">
          <span class="icon-Frame-1"></span>
          Company
          <label class="custom-radio radio-md">
            <input type="radio" name="option" value="3" />
            <div class="radio-box">
              <div class="radio-dot"></div>
            </div>
          </label>
        </div>
        <div class="building-container-checkbox">
          <span class="icon-Frame-2"></span>
          Company
          <label class="custom-radio radio-md">
            <input type="radio" name="option" value="3" />
            <div class="radio-box">
              <div class="radio-dot"></div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <!-- ======================================= Radio ==================================-->
  </div>
</div>
