<div [ngSwitch]="iconBtnClass">
  <div *ngSwitchCase="'circle-close-button'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- cross icon in all size -->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
          <span class="icon-Icon-Stroke-8 icon--cross-vs"></span>
        </button>
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-Icon-Stroke-8 icon--cross-sm"></span>
        </button>
        <button class="d-btn d-btn--tertiary md">
          <span class="icon-Icon-Stroke-8 icon--cross-md"></span>
        </button>
        <button class="d-btn d-btn--tertiary lg">
          <span class="icon-Icon-Stroke-8 icon--cross-lg"></span>
        </button>
        <button class="d-btn d-btn--tertiary xl">
          <span class="icon-Icon-Stroke-8 icon--cross-xl"></span>
        </button>
        <button class="d-btn d-btn--tertiary xxl">
          <span class="icon-Icon-Stroke-8 icon--cross-xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'circle-more-button'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- more icon in all size -->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
          <span class="icon-Icon-Stroke-1 icon--more-vs"></span>
        </button>
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-Icon-Stroke-1 icon--more-sm"></span>
        </button>
        <button class="d-btn d-btn--tertiary md">
          <span class="icon-Icon-Stroke-1 icon--more-md"></span>
        </button>
        <button class="d-btn d-btn--tertiary lg">
          <span class="icon-Icon-Stroke-1 icon--more-lg"></span>
        </button>
        <button class="d-btn d-btn--tertiary xl">
          <span class="icon-Icon-Stroke-1 icon--more-xl"></span>
        </button>
        <button class="d-btn d-btn--tertiary xxl">
          <span class="icon-Icon-Stroke-1 icon--more-xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'circle-back-button'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- back button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
          <span class="icon-Vector-Stroke-8 icon--back-vs"></span>
        </button>
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-Vector-Stroke-8 icon--back-sm"></span>
        </button>
        <button class="d-btn d-btn--tertiary md">
          <span class="icon-Vector-Stroke-8 icon--back-md"></span>
        </button>
        <button class="d-btn d-btn--tertiary lg">
          <span class="icon-Vector-Stroke-8 icon--back-lg"></span>
        </button>
        <button class="d-btn d-btn--tertiary xl">
          <span class="icon-Vector-Stroke-8 icon--back-xl"></span>
        </button>
        <button class="d-btn d-btn--tertiary xxl">
          <span class="icon-Vector-Stroke-8 icon--back-xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'circle-search-button'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>


      <!-- search button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
          <span class="icon-Vector-3 icon--search-vs"></span>
        </button>
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-Vector-3 icon--search-sm"></span>
        </button>
        <button class="d-btn d-btn--tertiary md">
          <span class="icon-Vector-3 icon--search-md"></span>
        </button>
        <button class="d-btn d-btn--tertiary lg">
          <span class="icon-Vector-3 icon--search-lg"></span>
        </button>
        <button class="d-btn d-btn--tertiary xl">
          <span class="icon-Vector-3 icon--search-xl"></span>
        </button>
        <button class="d-btn d-btn--tertiary xxl">
          <span class="icon-Vector-3 icon--search-xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'edit-button-circle-tertiary'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <!-- edit image with text button in all size-->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
         <span class="icon-Vector-8 icon--edit-vs"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary sm">
         <span class="icon-Vector-8 icon--edit-sm"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary md">
         <span class="icon-Vector-8 icon--edit-md"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary lg">
         <span class="icon-Vector-8 icon--edit-lg"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary xl">
         <span class="icon-Vector-8 icon--edit-xl"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary xxl">
          <span class="icon-Vector-8 icon--edit-xxl"></span>Edit
        </button>
      </div>


      <!-- edit image without text in all size -->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
          <span class="icon-Vector-8 icon--edit-vvs"></span>
        </button>
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-Vector-8 icon--edit-ssm"></span>
        </button>
        <button class="d-btn d-btn--tertiary md">
          <span class="icon-Vector-8 icon--edit-mmd"></span>
        </button>
        <button class="d-btn d-btn--tertiary lg">
          <span class="icon-Vector-8 icon--edit-llg"></span>
        </button>
        <button class="d-btn d-btn--tertiary xl">
          <span class="icon-Vector-8 icon--edit-xll"></span>
        </button>
        <button class="d-btn d-btn--tertiary xxl">
          <span class="icon-Vector-8 icon--edit-xxll"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'delete-button-circle-tertiary'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- delete image with text button in all size-->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
         <span class="icon-Vector-9 icon--vs"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary sm">
         <span class="icon-Vector-9 icon--delete-sm"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary md">
         <span class="icon-Vector-9 icon--delete-md"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary lg">
         <span class="icon-Vector-9 icon--delete-lg"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary xl">
         <span class="icon-Vector-9 icon--delete-xl"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary xxl">
          <span class="icon-Vector-9 icon--delete-xxl"></span>
          Delete
        </button>
      </div>

      <!-- delete image without text in all size -->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
         <span class="icon-Vector-9 icon--delete-vvs"></span>
        </button>
        <button class="d-btn d-btn--tertiary sm">
         <span class="icon-Vector-9 icon--delete-ssm"></span>
        </button>
        <button class="d-btn d-btn--tertiary md">
         <span class="icon-Vector-9 icon--delete-mmd"></span>
        </button>
        <button class="d-btn d-btn--tertiary lg">
         <span class="icon-Vector-9 icon--delete-llg"></span>
        </button>
        <button class="d-btn d-btn--tertiary xl">
         <span class="icon-Vector-9 icon--delete-xll"></span>
        </button>
        <button class="d-btn d-btn--tertiary xxl">
          <span class="icon-Vector-9 icon--delete-xxll"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'icon-right'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- right side image with text button in all size-->
      <div class="containers">
        <button class="d-btn d-btn--primary vs">
          Very Small
         <span class="icon-Icon-Stroke-2 add--vs"></span>
        </button>
        <button class="d-btn d-btn--primary sm">
          Small
          <span class="icon-Icon-Stroke-2 add--sm"></span>
        </button>
        <button class="d-btn d-btn--primary md">
          Medium
          <span class="icon-Icon-Stroke-2 add--md"></span>
        </button>
        <button class="d-btn d-btn--primary lg">
          Large
          <span class="icon-Icon-Stroke-2 add--lg"></span>
        </button>
        <button class="d-btn d-btn--primary xl">
          Extra Large
          <span class="icon-Icon-Stroke-2 add--xl"></span>
        </button>
        <button class="d-btn d-btn--primary xxl">
          XX Large
          <span class="icon-Icon-Stroke-2 add--xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'icon-left'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>


      <!-- left side image with text button in all size-->

      <div class="containers">
        <button class="d-btn d-btn--primary vs">
          <span class="icon-Icon-Stroke-2 add--vs"></span>
          Very Small
        </button>
        <button class="d-btn d-btn--primary sm">
          <span class="icon-Icon-Stroke-2 add--sm"></span>
          Small
        </button>
        <button class="d-btn d-btn--primary md">
          <span class="icon-Icon-Stroke-2 add--md"></span>
          Medium
        </button>
        <button class="d-btn d-btn--primary lg">
          <span class="icon-Icon-Stroke-2 add--lg"></span>
          Large
        </button>
        <button class="d-btn d-btn--primary xl">
          <span class="icon-Icon-Stroke-2 add--xl"></span>
          Extra Large
        </button>
        <button class="d-btn d-btn--primary xxl">
          <span class="icon-Icon-Stroke-2 add--xxl"></span>
          XX Large
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'add-btn'">
    <div class="outer-container">
      <div class="heading">
        <h1>Add Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>


      <!-- dotted border primary rectangle button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--secondary-dotted vs">
          <span class="icon-Vector-10 add-vs"></span>
          Add
        </button>
        <button class="d-btn d-btn--secondary-dotted sm">
          <span class="icon-Vector-10 add--sm"></span>
          Add
        </button>
        <button class="d-btn d-btn--secondary-dotted md">
          <span class="icon-Vector-10 add--md"></span>
          Medium
        </button>
        <button class="d-btn d-btn--secondary-dotted lg">
          <span class="icon-Vector-10 add--lg"></span>
          Large
        </button>
        <button class="d-btn d-btn--secondary-dotted xl">
          <span class="icon-Vector-10 add--xl"></span>
          Extra Large
        </button>
        <button class="d-btn d-btn--secondary-dotted xxl">
          <span class="icon-Vector-10 add--xxl"></span>
          XXL Large
        </button>
      </div>


      <!-- solid border primary rectangle button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--secondary vs">
          <span class="icon-Vector-10 add--vs"></span>
          Add
        </button>
        <button class="d-btn d-btn--secondary sm">
          <span class="icon-Vector-10 add--sm"></span>
          Add
        </button>
        <button class="d-btn d-btn--secondary md">
          <span class="icon-Vector-10 add--md"></span>
          Medium
        </button>
        <button class="d-btn d-btn--secondary lg">
          <span class="icon-Vector-10 add--lg"></span>
          Large
        </button>
        <button class="d-btn d-btn--secondary xl">
          <span class="icon-Vector-10 add--xl"></span>
          Extra Large
        </button>
        <button class="d-btn d-btn--secondary xxl">
          <span class="icon-Vector-10 add--xxl"></span>
          XXL Large
        </button>
      </div>

       <!-- dotted border primary circuler button in all size -->
      <div class="containers">
        <button class="d-btn--circle dotted-circle vs">
          <span class="icon-Vector-10 add--vs"></span>
        </button>
        <button class="d-btn--circle dotted-circle sm">
          <span class="icon-Vector-10 add--sm"></span>
        </button>
        <button class="d-btn--circle dotted-circle md">
          <span class="icon-Vector-10 add--md"></span>
        </button>
        <button class="d-btn--circle dotted-circle lg">
          <span class="icon-Vector-10 add--lg"></span>
        </button>
        <button class="d-btn--circle dotted-circle xl">
          <span class="icon-Vector-10 add--xl"></span>
        </button>
        <button class="d-btn--circle dotted-circle xxl">
          <span class="icon-Vector-10 add--xxl"></span>
        </button>
      </div>

        <!-- solid border primary circuler button in all size -->
      <div class="containers">
        <button class="d-btn--circle solid-circle vs">
          <span class="icon-Vector-10 add--vs"></span>
        </button>
        <button class="d-btn--circle solid-circle sm">
          <span class="icon-Vector-10 add--sm"></span>
        </button>
        <button class="d-btn--circle solid-circle md">
          <span class="icon-Vector-10 add--md"></span>
        </button>
        <button class="d-btn--circle solid-circle lg">
          <span class="icon-Vector-10 add--lg"></span>
        </button>
        <button class="d-btn--circle solid-circle xl">
          <span class="icon-Vector-10 add--xl"></span>
        </button>
        <button class="d-btn--circle solid-circle xxl">
          <span class="icon-Vector-10 add--xxl"></span>
        </button>
      </div>


        <!-- background primary circuler button in all size -->
      <div class="containers">
        <button class="d-btn--circle primary-bg-circle vs">
          <span class="icon-Icon-Stroke-2 add--vs"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle sm">
          <span class="icon-Icon-Stroke-2 add--sm"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle md">
          <span class="icon-Icon-Stroke-2 add--md"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle lg">
          <span class="icon-Icon-Stroke-2 add--lg"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle xl">
          <span class="icon-Icon-Stroke-2 add--xl"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle xxl">
          <span class="icon-Icon-Stroke-2 add--xxl"></span>
        </button>
      </div>

    </div>
  </div>
  <div *ngSwitchDefault>Default fallback if no match</div>
</div>
