<div [ngSwitch]="iconBtnClass">
  <div *ngSwitchCase="'circle-close-button'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- cross icon in all size -->
      <div class="containers">
        <button class="d-btn d-btn--circle vs">
          <span class="icon-x icon--vs"></span>
        </button>
        <button class="d-btn d-btn--circle sm">
          <span class="icon-x icon--sm"></span>
        </button>
        <button class="d-btn d-btn--circle md">
          <span class="icon-x icon--md"></span>
        </button>
        <button class="d-btn d-btn--circle lg">
          <span class="icon-x icon--lg"></span>
        </button>
        <button class="d-btn d-btn--circle xl">
          <span class="icon-x icon--xl"></span>
        </button>
        <button class="d-btn d-btn--circle double-xl">
          <span class="icon-x icon--xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'circle-more-button'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- more icon in all size -->
      <div class="containers">
        <button class="d-btn d-btn--circle vs">
          <span class="icon-threedots icon--vs"></span>
        </button>
        <button class="d-btn d-btn--circle sm">
          <span class="icon-threedots icon--sm"></span>
        </button>
        <button class="d-btn d-btn--circle md">
          <span class="icon-threedots icon--md"></span>
        </button>
        <button class="d-btn d-btn--circle lg">
          <span class="icon-threedots icon--lg"></span>
        </button>
        <button class="d-btn d-btn--circle xl">
          <span class="icon-threedots icon--xl"></span>
        </button>
        <button class="d-btn d-btn--circle double-xl">
          <span class="icon-threedots icon--xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'circle-back-button'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- back button in all size -->
       <!-- <span class="icon-leftarrow"></span> -->
      <div class="containers">
        <button class="d-btn d-btn--circle vs">
          <span class="icon-leftarrow icon--vs"></span>
        </button>
        <button class="d-btn d-btn--circle sm">
          <span class="icon-leftarrow icon--sm"></span>
        </button>
        <button class="d-btn d-btn--circle md">
          <span class="icon-leftarrow icon--md"></span>
        </button>
        <button class="d-btn d-btn--circle lg">
          <span class="icon-leftarrow icon--lg"></span>
        </button>
        <button class="d-btn d-btn--circle xl">
          <span class="icon-leftarrow icon--xl"></span>
        </button>
        <button class="d-btn d-btn--circle double-xl">
          <span class="icon-leftarrow icon--xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'circle-search-button'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>


      <!-- search button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--circle vs">
          <span class="icon-search icon--vs"></span>
        </button>
        <button class="d-btn d-btn--circle sm">
          <span class="icon-search icon--sm"></span>
        </button>
        <button class="d-btn d-btn--circle md">
          <span class="icon-search icon--md"></span>
        </button>
        <button class="d-btn d-btn--circle lg">
          <span class="icon-search icon--lg"></span>
        </button>
        <button class="d-btn d-btn--circle xl">
          <span class="icon-search icon--xl"></span>
        </button>
        <button class="d-btn d-btn--circle double-xl">
          <span class="icon-search icon--xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'edit-button-circle-tertiary'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <!-- edit image with text button in all size-->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
         <span class="icon-edit icon--vs"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary sm">
         <span class="icon-edit icon--sm"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary md">
         <span class="icon-edit icon--md"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary lg">
         <span class="icon-edit icon--lg"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary xl">
         <span class="icon-edit icon--xl"></span>Edit
        </button>
        <button class="d-btn d-btn--tertiary double-xl">
          <span class="icon-edit icon--xxl"></span>Edit
        </button>
      </div>


      <!-- edit image without text in all size -->
      <div class="containers">
        <button class="d-btn d-btn--circle vs">
          <span class="icon-edit icon--vs"></span>
        </button>
        <button class="d-btn d-btn--circle sm">
          <span class="icon-edit icon--sm"></span>
        </button>
        <button class="d-btn d-btn--circle md">
          <span class="icon-edit icon--md"></span>
        </button>
        <button class="d-btn d-btn--circle lg">
          <span class="icon-edit icon--lg"></span>
        </button>
        <button class="d-btn d-btn--circle xl">
          <span class="icon-edit icon--xl"></span>
        </button>
        <button class="d-btn d-btn--circle double-xl">
          <span class="icon-edit icon--xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'delete-button-circle-tertiary'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- delete image with text button in all size-->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">
         <span class="icon-delete icon--vs"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary sm">
         <span class="icon-delete icon--sm"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary md">
         <span class="icon-delete icon--md"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary lg">
         <span class="icon-delete icon--lg"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary xl">
         <span class="icon-delete icon--xl"></span>
          Delete
        </button>
        <button class="d-btn d-btn--tertiary double-xl">
          <span class="icon-delete icon--xxl"></span>
          Delete
        </button>
      </div>

      <!-- delete image without text in all size -->
      <div class="containers">
        <button class="d-btn d-btn--circle vs">
         <span class="icon-delete icon--vs"></span>
        </button>
        <button class="d-btn d-btn--circle sm">
         <span class="icon-delete icon--sm"></span>
        </button>
        <button class="d-btn d-btn--circle md">
         <span class="icon-delete icon--md"></span>
        </button>
        <button class="d-btn d-btn--circle lg">
         <span class="icon-delete icon--lg"></span>
        </button>
        <button class="d-btn d-btn--circle xl">
         <span class="icon-delete icon--xl"></span>
        </button>
        <button class="d-btn d-btn--circle double-xl">
          <span class="icon-delete icon--xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'icon-right'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- right side image with text button in all size-->
      <div class="containers">
        <button class="d-btn d-btn--primary vs">
          Very Small
         <span class="icon-plus icon--vs"></span>
        </button>
        <button class="d-btn d-btn--primary sm">
          Small
          <span class="icon-plus icon--sm"></span>
        </button>
        <button class="d-btn d-btn--primary md">
          Medium
          <span class="icon-plus icon--md"></span>
        </button>
        <button class="d-btn d-btn--primary lg">
          Large
          <span class="icon-plus icon--lg"></span>
        </button>
        <button class="d-btn d-btn--primary xl">
          Extra Large
          <span class="icon-plus icon--xl"></span>
        </button>
        <button class="d-btn d-btn--primary double-xl">
          XX Large
          <span class="icon-plus icon--xxl"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'icon-left'">
    <div class="outer-container">
      <div class="heading">
        <h1>Icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>


      <!-- left side image with text button in all size-->

      <div class="containers">
        <button class="d-btn d-btn--primary vs">
          <span class="icon-plus icon--vs"></span>
          Very Small
        </button>
        <button class="d-btn d-btn--primary sm">
          <span class="icon-plus icon--sm"></span>
          Small
        </button>
        <button class="d-btn d-btn--primary md">
          <span class="icon-plus icon--md"></span>
          Medium
        </button>
        <button class="d-btn d-btn--primary lg">
          <span class="icon-plus icon--lg"></span>
          Large
        </button>
        <button class="d-btn d-btn--primary xl">
          <span class="icon-plus icon--xl"></span>
          Extra Large
        </button>
        <button class="d-btn d-btn--primary double-xl">
          <span class="icon-plus icon--xxl"></span>
          XX Large
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'add-btn'">
    <div class="outer-container">
      <div class="heading">
        <h1>icon Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>


      <!-- dotted border primary rectangle button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--secondary-dotted vs">
          <span class="icon-Vector-8 icon-vs"></span>
          icon
        </button>
        <button class="d-btn d-btn--secondary-dotted sm">
          <span class="icon-Vector-8 icon--sm"></span>
          icon
        </button>
        <button class="d-btn d-btn--secondary-dotted md">
          <span class="icon-Vector-8 icon--md"></span>
          Medium
        </button>
        <button class="d-btn d-btn--secondary-dotted lg">
          <span class="icon-Vector-8 icon--lg"></span>
          Large
        </button>
        <button class="d-btn d-btn--secondary-dotted xl">
          <span class="icon-Vector-8 icon--xl"></span>
          Extra Large
        </button>
        <button class="d-btn d-btn--secondary-dotted double-xl">
          <span class="icon-Vector-8 icon--xxl"></span>
          XXL Large
        </button>
      </div>


      <!-- solid border primary rectangle button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--secondary vs">
          <span class="icon-Vector-8 icon--vs"></span>
          icon
        </button>
        <button class="d-btn d-btn--secondary sm">
          <span class="icon-Vector-8 icon--sm"></span>
          icon
        </button>
        <button class="d-btn d-btn--secondary md">
          <span class="icon-Vector-8 icon--md"></span>
          Medium
        </button>
        <button class="d-btn d-btn--secondary lg">
          <span class="icon-Vector-8 icon--lg"></span>
          Large
        </button>
        <button class="d-btn d-btn--secondary xl">
          <span class="icon-Vector-8 icon--xl"></span>
          Extra Large
        </button>
        <button class="d-btn d-btn--secondary double-xl">
          <span class="icon-Vector-8 icon--xxl"></span>
          XXL Large
        </button>
      </div>

       <!-- dotted border primary circuler button in all size -->
      <div class="containers">
        <button class="d-btn--circle dotted-circle vs">
          <span class="icon-Vector-8 icon--vs"></span>
        </button>
        <button class="d-btn--circle dotted-circle sm">
          <span class="icon-Vector-8 icon--sm"></span>
        </button>
        <button class="d-btn--circle dotted-circle md">
          <span class="icon-Vector-8 icon--md"></span>
        </button>
        <button class="d-btn--circle dotted-circle lg">
          <span class="icon-Vector-8 icon--lg"></span>
        </button>
        <button class="d-btn--circle dotted-circle xl">
          <span class="icon-Vector-8 icon--xl"></span>
        </button>
        <button class="d-btn--circle dotted-circle double-xl">
          <span class="icon-Vector-8 icon--xxl"></span>
        </button>
      </div>

        <!-- solid border primary circuler button in all size -->
      <div class="containers">
        <button class="d-btn--circle solid-circle vs">
          <span class="icon-Vector-8 icon--vs"></span>
        </button>
        <button class="d-btn--circle solid-circle sm">
          <span class="icon-Vector-8 icon--sm"></span>
        </button>
        <button class="d-btn--circle solid-circle md">
          <span class="icon-Vector-8 icon--md"></span>
        </button>
        <button class="d-btn--circle solid-circle lg">
          <span class="icon-Vector-8 icon--lg"></span>
        </button>
        <button class="d-btn--circle solid-circle xl">
          <span class="icon-Vector-8 icon--xl"></span>
        </button>
        <button class="d-btn--circle solid-circle double-xl">
          <span class="icon-Vector-8 icon--xxl"></span>
        </button>
      </div>


      <!-- tertiasry dooted cicle -->


       <div class="containers">
        <button class="d-btn--circle  vs">
          <span class="icon-Vector-8 icon--vs"></span>
        </button>
        <button class="d-btn--circle  sm">
          <span class="icon-Vector-8 icon--sm"></span>
        </button>
        <button class="d-btn--circle  md">
          <span class="icon-Vector-8 icon--md"></span>
        </button>
        <button class="d-btn--circle  lg">
          <span class="icon-Vector-8 icon--lg"></span>
        </button>
        <button class="d-btn--circle  xl">
          <span class="icon-Vector-8 icon--xl"></span>
        </button>
        <button class="d-btn--circle  double-xl">
          <span class="icon-Vector-8 icon--xxl"></span>
        </button>
      </div>
        <!-- background primary circuler button in all size -->
      <div class="containers">
        <button class="d-btn--circle primary-bg-circle vs">
          <span class="icon-plus icon--vs"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle sm">
          <span class="icon-plus icon--sm"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle md">
          <span class="icon-plus icon--md"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle lg">
          <span class="icon-plus icon--lg"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle xl">
          <span class="icon-plus icon--xl"></span>
        </button>

        <button class="d-btn--circle primary-bg-circle double-xl">
          <span class="icon-plus icon--xxl"></span>
        </button>
      </div>

    </div>
  </div>
  <div *ngSwitchDefault>Default fallback if no match</div>
</div>
