<div [ngSwitch]="searchClass">
  <div *ngSwitchCase="'simple-search'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          Typically refers to a form element or field that allows users to input
          a search query. This search query is then used to retrieve relevant
          information from a database, website, or other data sources.
        </p>
      </div>

      <div class="search-container">
        <span class="icon-Vector-11"></span>
        <span class="icon-Vector-12"></span>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'lable-search'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          Typically refers to a form element or field that allows users to input
          a search query. This search query is then used to retrieve relevant
          information from a database, website, or other data sources.
        </p>
      </div>

      <div class="search-container">
        <div class="search-box search-box--sm">
          <span class="icon-Vector-12"></span>

          <input type="text" placeholder="Search here..." />
          <button type="button">Search</button>
        </div>
      </div>

      <div class="search-container">
        <div class="search-box">
          <span class="icon-Vector-12"></span>

          <input type="text" placeholder="Search here..." />
          <button type="button">Search</button>
        </div>
      </div>

      <div class="search-container">
        <div class="search-box-app">
          <input type="text" placeholder="Search here..." />
          <span class="icon-Vector-12"></span>
        </div>
      </div>


      <div class="search-container">
        <div class="search-bar">
          <span class="icon-Vector-12"></span>
          <input type="text" placeholder="Search here..." />
        </div>
      </div>
    </div>
  </div>
</div>
