<div [ngSwitch]="variant">
  <div *ngSwitchCase="'button-kinds'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <div class="containers">
        <button class="d-btn d-btn--primary md">Primary</button>
        <button class="d-btn d-btn--secondary md">Secondary</button>
        <button class="d-btn d-btn--tertiary md">Tertiary</button>
        <button class="d-btn d-btn--link md">Link</button>
      </div>

      <div class="containers">
        <button class="d-btn-small d-btn-small--danger">High</button>
        <button class="d-btn-small d-btn-small--warning">Medium</button>
        <button class="d-btn-small d-btn-small--success">Low</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'primary-button-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <div class="containers">
        <button class="d-btn d-btn--primary vs">{{ label }}</button>
        <button class="d-btn d-btn--primary sm">{{ label }}</button>
        <button class="d-btn d-btn--primary md">{{ label }}</button>
        <button class="d-btn d-btn--primary lg">{{ label }}</button>
        <button class="d-btn d-btn--primary xl">{{ label }}</button>
        <button class="d-btn d-btn--primary xxl">{{ label }}</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'secondary-button-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <div class="containers">
        <button class="d-btn d-btn--secondary vs">{{ label }}</button>
        <button class="d-btn d-btn--secondary sm">{{ label }}</button>
        <button class="d-btn d-btn--secondary md">{{ label }}</button>
        <button class="d-btn d-btn--secondary lg">{{ label }}</button>
        <button class="d-btn d-btn--secondary xl">{{ label }}</button>
        <button class="d-btn d-btn--secondary xxl">{{ label }}</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tertiary-button-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <div class="containers">
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-expand-01-1"></span>
          <p>Expand All</p>
        </button>
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-Frame-2610516"></span>
          <p>Collapse All</p>
        </button>
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-filter-funnel-01"></span>
          <p>Filter</p>
        </button>

        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="d-btn d-btn--tertiary sm"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <span class="icon-dotpoints-01"></span>
            <p>Item Count</p>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ul>
              <li>
                <button ngbDropdownItem>
                  <p>02 Cards</p>
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  <p>04 Cards</p>
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  <p>06 Cards</p>
                  <span class="checkmark"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="d-btn d-btn--tertiary sm"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <span class="icon-filter-lines"></span>
            <p>Sort By</p>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ul>
              Order
              <li>
                <button ngbDropdownItem>
                  <p>Ascending</p>
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  <p>Descending</p>
                  <span class="checkmark"></span>
                </button>
              </li>
            </ul>

            <hr />
            <ul>
              Sort
              <li>
                <button ngbDropdownItem>
                  <p>Name</p>
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  <p>Projects</p>
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  <p>Workbooks</p>
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  <p>Created date</p>
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  <p>Updated date</p>
                  <span class="checkmark"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">{{ label }}</button>
        <button class="d-btn d-btn--tertiary sm">{{ label }}</button>
        <button class="d-btn d-btn--tertiary md">{{ label }}</button>
        <button class="d-btn d-btn--tertiary lg">{{ label }}</button>
        <button class="d-btn d-btn--tertiary xl">{{ label }}</button>
        <button class="d-btn d-btn--tertiary xxl">{{ label }}</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'link-button-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <div class="containers">
        <button class="d-btn d-btn--link vs">link</button>
        <button class="d-btn d-btn--link sm">{{ label }}</button>
        <button class="d-btn d-btn--link md">{{ label }}</button>
        <button class="d-btn d-btn--link lg">{{ label }}</button>
        <button class="d-btn d-btn--link xl">{{ label }}</button>
        <button class="d-btn d-btn--link xxl">{{ label }}</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'button-loader'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <div class="containers">
        <button class="d-btn loading-button loader-vs"></button>
        <button class="d-btn loading-button loader-sm"></button>
        <button class="d-btn loading-button loader-md"></button>
        <button class="d-btn loading-button loader-lg"></button>
        <button class="d-btn loading-button loader-xl"></button>
        <button class="d-btn loading-button loader-xxl"></button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'disabled'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <div class="containers">
        <button class="d-btn d-btn--primary-disable md">{{ label }}</button>
        <button class="d-btn d-btn--secondary-disable md">{{ label }}</button>
        <button class="d-btn d-btn--tertiary-disable md">{{ label }}</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'error-and-success'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <div class="containers">
        <button class="d-btn d-btn--success md">Success</button>
        <button class="d-btn d-btn--danger md">Danger</button>
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>Default fallback if no match</div>
</div>
