<div [ngSwitch]="variant">
  <div *ngSwitchCase="'button-kinds'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- all type button in medium size -->
      <div class="containers">
        <button class="d-btn d-btn--primary md">Primary</button>
        <button class="d-btn d-btn--secondary md">Secondary</button>
        <button class="d-btn d-btn--tertiary md">Tertiary</button>
        <a href="#" class="d-btn d-btn--link md">Link</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'primary-button-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <!-- primary button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--primary vs">Very Small</button>
        <button class="d-btn d-btn--primary sm">Small</button>
        <button class="d-btn d-btn--primary md">Medium</button>
        <button class="d-btn d-btn--primary lg">Large</button>
        <button class="d-btn d-btn--primary xl">Extra Large</button>
        <button class="d-btn d-btn--primary double-xl">XX Large</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'secondary-button-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- secondary button in all size -->
      <div class="containers">
        <button class="d-btn d-btn--secondary vs">{{ label }}</button>
        <button class="d-btn d-btn--secondary sm">{{ label }}</button>
        <button class="d-btn d-btn--secondary md">{{ label }}</button>
        <button class="d-btn d-btn--secondary lg">{{ label }}</button>
        <button class="d-btn d-btn--secondary xl">{{ label }}</button>
        <button class="d-btn d-btn--secondary double-xl">{{ label }}</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tertiary-button-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- tertiary button with img  -->

      <div class="containers">
        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-expand-01-1 header-icon"></span>
          Expand All
        </button>

        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-Frame-2610516 header-icon"></span>
          Collapse All
        </button>

        <div ngbDropdown class="d-inline-block nav-dropdown">
          <button
            type="button"
            class="d-btn d-btn--tertiary sm"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <span class="icon-dotpoints-01 header-icon"></span>
            Item Count
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ul>
              <li>
                <button ngbDropdownItem>
                  02 Cards
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  04 Cards
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  06 Cards
                  <span class="checkmark"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block nav-dropdown">
          <button
            type="button"
            class="d-btn d-btn--tertiary sm"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <span class="icon-filter-lines header-icon"></span>
            Sort By
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ul>
              Order
              <li>
                <button ngbDropdownItem>
                  Ascending
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  Descending
                  <span class="checkmark"></span>
                </button>
              </li>
            </ul>

            <hr />
            <ul>
              Sort
              <li>
                <button ngbDropdownItem>
                  Name
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  Projects
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  Workbooks
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  Created date
                  <span class="checkmark"></span>
                </button>
              </li>
              <li>
                <button ngbDropdownItem>
                  Updated date
                  <span class="checkmark"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <button class="d-btn d-btn--tertiary sm">
          <span class="icon-filter-funnel-01 header-icon"></span>
          Filter
        </button>

        <div ngbDropdown class="d-inline-block nav-dropdown">
          <button
            type="button"
            class="d-btn d-btn--tertiary sm"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Home
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ul>
              <li>
                <button ngbDropdownItem class="active">Home</button>
              </li>
              <li>
                <button ngbDropdownItem>Personas</button>
              </li>
            </ul>
          </div>
        </div>

        <button class="d-btn d-btn--tertiary md"><span class="icon-left"></span></button>
        <button class="d-btn d-btn--tertiary md"><span class="icon-right"></span></button>
      </div>

      <!-- tertiary button without image and in all size -->
      <div class="containers">
        <button class="d-btn d-btn--tertiary vs">{{ label }}</button>
        <button class="d-btn d-btn--tertiary sm">{{ label }}</button>
        <button class="d-btn d-btn--tertiary md">{{ label }}</button>
        <button class="d-btn d-btn--tertiary lg">{{ label }}</button>
        <button class="d-btn d-btn--tertiary xl">{{ label }}</button>
        <button class="d-btn d-btn--tertiary double-xl">{{ label }}</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'link-button-size'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- link button in all size -->
      <div class="containers">
        <a href="#" class="d-btn d-btn--link vs">Very Small</a>
        <a href="#" class="d-btn d-btn--link sm">Small</a>
        <a href="#" class="d-btn d-btn--link md">Medium</a>
        <a href="#" class="d-btn d-btn--link lg">Large</a>
        <a href="#" class="d-btn d-btn--link xl">Extra Large</a>
        <a href="#" class="d-btn d-btn--link double-xl">XX Large</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'button-loader'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <!-- button loader in all size -->
      <div class="containers">
        <button class="d-btn loader loader--vs">
          <div class="loading"></div>
        </button>
        <button class="d-btn loader loader--sm">
          <div class="loading"></div>
        </button>
        <button class="d-btn loader loader--md">
          <div class="loading"></div>
        </button>
        <button class="d-btn loader loader--lg">
          <div class="loading"></div>
        </button>
        <button class="d-btn loader loader--xl">
          <div class="loading"></div>
        </button>
        <button class="d-btn loader loader--double-xl">
          <div class="loading"></div>
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'disabled'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>
      <!-- disable button in medium size -->
      <div class="containers">
        <button class="d-btn d-btn--primary-disable md">{{ label }}</button>
        <button class="d-btn d-btn--secondary-disable md">{{ label }}</button>
        <button class="d-btn d-btn--tertiary-disable md">{{ label }}</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'error-and-success'">
    <div class="outer-container">
      <div class="heading">
        <h1>Button</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          There can be more than one button in a screen, but to create the
          hierarchy of actions we need to use button kinds.
        </p>
      </div>

      <!-- success and danger button in medium size -->
      <div class="containers">
        <button class="d-btn d-btn--success md">Success</button>
        <button class="d-btn d-btn--danger md">Danger</button>
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>Default fallback if no match</div>
</div>
