<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'pagination1'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          Pagination is a user interface pattern used to divide content into
          discrete pages, allowing users to navigate through large sets of data
          or content in a manageable and structured way. It's commonly used in
          websites, applications, and digital documents where the amount of
          content is too large to display on a single page.
        </p>
      </div>
      <div class="containers">
        <div class="pagination-wrapper">
          <div class="left-pgtn">
            <span class="icon-Vector-4"></span>
            <p>Exelixis, Inc. 2024</p>
          </div>
          <div class="pagination">
            <p class="text">Page Size:</p>
            <div class="d-btn d-btn--tertiary vs">
              <p>12</p>
              <span class="icon-Vector-1"></span>
            </div>
            <p class="text">1 to 25 of 42</p>

            <div class="pagination-svg">
              <div class="page-svg">
                <span class="icon-Vector-Stroke-13"></span>
              </div>

              <div class="page-svg">
                <span class="icon-Vector-Stroke-8"></span>
              </div>

              <div class="page active">1</div>
              <div class="page">2</div>
              <div class="page">3</div>
              <div class="page">4</div>
              <div class="page-svg">
                <span class="icon-Vector-Stroke-14"></span>
              </div>

              <div class="page-svg">
                <span class="icon-Vector-Stroke-7"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="containers">
        <div class="pagination">
          <p class="text">Rows per page</p>
          <div class="d-btn d-btn--tertiary vs">
            <p>12</p>
            <span class="icon-Vector-1"></span>
          </div>
          <p class="text">1-9 0f 100</p>

          <div class="pagination-svg">
            <div class="page-svg">
              <span class="icon-Vector-2"></span>
            </div>

            <div class="page-svg">
              <span class="icon-Vector-5"></span>
            </div>

            <div class="page-svg">
              <span class="icon-Vector-31"></span>
            </div>

            <div class="page-svg">
              <span class="icon-Vector-6"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'pagination2'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          Pagination is a user interface pattern used to divide content into
          discrete pages, allowing users to navigate through large sets of data
          or content in a manageable and structured way. It's commonly used in
          websites, applications, and digital documents where the amount of
          content is too large to display on a single page.
        </p>
      </div>
      <div class="containers">
        <p>This pagination uses custom default values</p>
      </div>
    </div>
  </div>
</div>
