<div class="form-group">
  <label for="label">label</label>
  <div class="input-wrapper md">
    <input type="text" class="medium" placeholder="label" />
  </div>
  <div class="error-message d-none">This is error alert</div>
</div>



<h1>hello  hdugygs</h1>

<h5>good mofjkdokhdjhbj</h5>


<div class="form-group error">
  <label for="label">label</label>
  <div class="input-wrapper vs">
    <select class="custom-select">
      <option value="">Select Option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
    </select>
  </div>
  <div class="error-message">This is error alert</div>
</div>


<app-button></app-button>