<div class="button-container">
  <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
</div>