<div class="container">
  <div class="calendar">
    <div class="calendar-header">
      <p class="calendar-year">{{ currentDate.getFullYear() }}</p>
      <h2>
        {{ currentDate.toLocaleString('default', { month: 'long' }) }}
        {{ currentDate.getFullYear() }}
      </h2>
    </div>

    <div class="calendar-controls">
      <button (click)="prevMonth()">←</button>
      <p class="curMonth">
        {{ currentDate.toLocaleString('default', { month: 'long' }) }}
        {{ currentDate.getFullYear() }}
      </p>
      <button (click)="nextMonth()">→</button>
    </div>

    <div class="calendar-grid">
      <div
        class="day-name"
        *ngFor="let day of ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa']"
      >
        {{ day }}
      </div>
      <button
        *ngFor="let day of monthDays"
        class="calendar-day"
        [class.selected]="selectedDate?.getDate() === day"
        (click)="selectDate(day)"
      >
        {{ day }}
      </button>
    </div>

    <div class="calendar-actions">
      <button>Cancel</button>
      <button>Ok</button>
    </div>
  </div>
</div>