<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'dialogue'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          A dialog box is a graphical user interface (GUI) element used to
          display information, prompt the user for input, or confirm an action.
          Dialog boxes typically appear as a separate window or pop-up on top of
          the main application window, temporarily halting user interaction with
          the underlying interface until the dialog is closed or resolved.
        </p>
      </div>
      <div class="second-container">
        <button class="d-btn d-btn--primary" (click)="open()">Open Modal</button>
      </div>
    </div>
  </div>
</div>
