<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'very-small'" class="very-small">
    <div class="heading">
      <h1>Label Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper vs">
        <input type="text" class="medium" [placeholder]="label" />
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'small'" class="small">
    <div class="heading">
      <h1>Label Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper sm">
        <input type="text" class="medium" [placeholder]="label" />
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'medium'" class="medium">
    <div class="heading">
      <h1>Label Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper md">
        <input type="text" class="medium" [placeholder]="label" />
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'large'" class="large">
    <div class="heading">
      <h1>Label Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper lg">
        <input type="text" class="medium" [placeholder]="label" />
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'extra-large'" class="extra-large">
    <div class="heading">
      <h1>Label Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper xl">
        <input type="text" class="medium" [placeholder]="label" />
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'double-extra-large'" class="double-extra-large">
    <div class="heading">
      <h1>Label Input</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        An input field includes a label and a text field users can type text
        into. They typically appear in forms and dialogs.
      </p>
    </div>
    <div class="form-group">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper xxl">
        <input type="text" class="medium" [placeholder]="label" />
      </div>
      <div class="error-message d-none">This is error alert</div>
    </div>
  </div>
</div>
