<!--==========================================CheckBox==================================-->

<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'checkbox'" class="simple-input">
    <div class="button-outer-container">
      <div class="button-heading">
        <h1>Inputs</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="button-container">
        <label class="custom-checkbox custom-checkbox--vs">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-checkbox custom-checkbox--sm">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-checkbox custom-checkbox--md">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-checkbox custom-checkbox--lg">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-checkbox custom-checkbox--xl">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="button-container">
        <label
          class="custom-checkbox custom-checkbox--vs custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--sm custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--md custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--lg custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--xl custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
      </div>

      <div class="button-container">
        <label
          class="custom-checkbox custom-checkbox--vs custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--sm custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--md custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--lg custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--xl custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
      </div>

      <div class="button-container">
        <div class="building-container-checkbox">
          <span class="icon-Frame"></span>
          Company
          <label class="custom-checkbox custom-checkbox--vs">
            <input type="checkbox" />
            <span class="checkmark checkmark--circle"></span>
          </label>
        </div>
        <div class="building-container-checkbox">
          <span class="icon-Frame-1"></span>
          Company
          <label class="custom-checkbox custom-checkbox--vs">
            <input type="checkbox" />
            <span class="checkmark checkmark--circle"></span>
          </label>
        </div>
        <div class="building-container-checkbox">
          <span class="icon-Frame-2"></span>
          Company
          <label class="custom-checkbox custom-checkbox--vs">
            <input type="checkbox" />
            <span class="checkmark checkmark--circle"></span>
          </label>
        </div>
      </div>
    </div>
    <!-- ======================================= Radio ==================================-->
  </div>

  <div [ngSwitch]="inputClass">
    <div *ngSwitchCase="'radio'">
      <div class="button-outer-container">
        <div class="button-heading">
          <h1>Inputs</h1>
          <div class="line"></div>
          <h2>{{ heading }}</h2>
          <p>
            Radio button in the context of forms refers to a type of input field
            that allows users to select only one option from a list of
            predefined choices. Radio buttons are often used when there is a
            list of mutually exclusive options, meaning the user can select only
            one option at a time.
          </p>
        </div>
        <div class="button-container">
          <label class="custom-checkbox custom-checkbox--vs">
            <input type="radio" />
            <span class="radiomark"></span>
          </label>
          <label class="custom-checkbox custom-checkbox--sm">
            <input type="radio" />
            <span class="radiomark"></span>
          </label>
          <label class="custom-checkbox custom-checkbox--md">
            <input type="radio" />
            <span class="radiomark"></span>
          </label>
          <label class="custom-checkbox custom-checkbox--lg">
            <input type="radio" />
            <span class="radiomark"></span>
          </label>
          <label class="custom-checkbox custom-checkbox--xl">
            <input type="radio" />
            <span class="radiomark"></span>
          </label>
        </div>

        <div class="button-container">
          <label
            class="custom-checkbox custom-checkbox--vs custom-checkbox--outer-circle-border"
          >
            <input type="radio" />
            <span class="checkmark checkmark--circle"></span>
            Radio
          </label>
          <label
            class="custom-checkbox custom-checkbox--sm custom-checkbox--outer-circle-border"
          >
            <input type="radio" />
            <span class="checkmark checkmark--circle"></span>
            Radio
          </label>
          <label
            class="custom-checkbox custom-checkbox--md custom-checkbox--outer-circle-border"
          >
            <input type="radio" />
            <span class="checkmark checkmark--circle"></span>
            Radio
          </label>
          <label
            class="custom-checkbox custom-checkbox--lg custom-checkbox--outer-circle-border"
          >
            <input type="radio" />
            <span class="checkmark checkmark--circle"></span>
            Radio
          </label>
          <label
            class="custom-checkbox custom-checkbox--xl custom-checkbox--outer-circle-border"
          >
            <input type="radio" />
            <span class="checkmark checkmark--circle"></span>
            Radio
          </label>
        </div>

        <div class="button-container">
          <div class="building-container-checkbox">
            <span class="icon-Frame"></span>
            Company
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="radio" />
              <span class="checkmark checkmark--circle"></span>
            </label>
          </div>
          <div class="building-container-checkbox">
            <span class="icon-Frame-1"></span>
            Company
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="radio" />
              <span class="checkmark checkmark--circle"></span>
            </label>
          </div>
          <div class="building-container-checkbox">
            <span class="icon-Frame-2"></span>
            Company
            <label class="custom-checkbox custom-checkbox--vs">
              <input type="radio" />
              <span class="checkmark checkmark--circle"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ======================================= Date And Time ==================================-->

  <div [ngSwitch]="inputClass">
    <div *ngSwitchCase="'date&time'">
      <div class="button-outer-container">
        <div class="button-heading">
          <h1>Inputs</h1>
          <div class="line"></div>
          <h2>{{ heading }}</h2>
          <p>
            A "switch" in the context of forms typically refers to a graphical
            user interface (GUI) element that represents a binary state,
            allowing users to toggle between two options - usually "on" and
            "off". This switch is also known as a toggle switch or a toggle
            button.
          </p>
        </div>
        <div class="button-container">
          <button class="d-btn d-btn--tertiary vs">
            <span class="icon-Vector-7 icon--vs"></span>
          </button>
          <button class="d-btn d-btn--tertiary sm">
            <span class="icon-Vector-7 icon--sm"></span>
          </button>
          <button class="d-btn d-btn--tertiary md">
            <span class="icon-Vector-7 icon--md"></span>
          </button>
          <button class="d-btn d-btn--tertiary lg">
            <span class="icon-Vector-7 icon--lg"></span>
          </button>
          <button class="d-btn d-btn--tertiary xl">
            <span class="icon-Vector-7 icon--xl"></span>
          </button>
          <button class="d-btn d-btn--tertiary xxl">
            <span class="icon-Vector-7 icon--xxl"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ======================================= Switch==================================-->

  <div [ngSwitch]="inputClass">
    <div *ngSwitchCase="'switch'">
      <div class="button-outer-container">
        <div class="button-heading">
          <h1>Inputs</h1>
          <div class="line"></div>
          <h2>{{ heading }}</h2>
          <p>
            Date and time in the context of forms refers to input fields that
            allow users to specify both a date and a time. These fields are used
            when collecting information that requires both date and time
            details, such as scheduling appointments, setting deadlines, or
            recording events.
          </p>
        </div>
        <div class="button-container">
          <button class="d-btn d-btn--tertiary vs">
            <span class="icon-Vector-7 icon--vs"></span>
          </button>
          <button class="d-btn d-btn--tertiary sm">
            <span class="icon-Vector-7 icon--sm"></span>
          </button>
          <button class="d-btn d-btn--tertiary md">
            <span class="icon-Vector-7 icon--md"></span>
          </button>
          <button class="d-btn d-btn--tertiary lg">
            <span class="icon-Vector-7 icon--lg"></span>
          </button>
          <button class="d-btn d-btn--tertiary xl">
            <span class="icon-Vector-7 icon--xl"></span>
          </button>
          <button class="d-btn d-btn--tertiary xxl">
            <span class="icon-Vector-7 icon--xxl"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
