<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'simple-checkbox'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Check Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="container">
        <label class="custom-checkbox custom-checkbox--vs">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-checkbox custom-checkbox--sm">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-checkbox custom-checkbox--md">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-checkbox custom-checkbox--lg">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-checkbox custom-checkbox--xl">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'rounded-checkbox'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Check Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="container">
        <label
          class="custom-checkbox custom-checkbox--vs custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--sm custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--md custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--lg custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--xl custom-checkbox--outer-circle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'square-checkbox'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Check Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="container">
        <label
          class="custom-checkbox custom-checkbox--vs custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--sm custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--md custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--lg custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
        <label
          class="custom-checkbox custom-checkbox--xl custom-checkbox--outer-rectangle-border"
        >
          <input type="checkbox" />
          <span class="checkmark checkmark--circle"></span>
          Add
        </label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'building-box'" class="simple-input">
    <div class="outer-container">
      <div class="heading">
        <h1>Check Box</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Checkboxes allow users to select one or more items from a set of
          options.
        </p>
      </div>
      <div class="container">
        <div class="building-container-checkbox">
          <span class="icon-Frame"></span>
          Company
          <label class="custom-checkbox custom-checkbox--vs">
            <input type="checkbox" />
            <span class="checkmark checkmark--circle"></span>
          </label>
        </div>
        <div class="building-container-checkbox">
          <span class="icon-Frame-1"></span>
          Company
          <label class="custom-checkbox custom-checkbox--vs">
            <input type="checkbox" />
            <span class="checkmark checkmark--circle"></span>
          </label>
        </div>
        <div class="building-container-checkbox">
          <span class="icon-Frame-2"></span>
          Company
          <label class="custom-checkbox custom-checkbox--vs">
            <input type="checkbox" />
            <span class="checkmark checkmark--circle"></span>
          </label>
        </div>
      </div>
    </div>
    <!-- ======================================= Radio ==================================-->
  </div>
</div>
