<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'page1'">
    <div class="wrapper">
      <div class="header">
        <div class="logo">LOGO</div>
      </div>
      <div class="content-wrapper">
        <div class="sidebar"></div>
        <div class="main-content">
          <div class="subheader"></div>
          <div class="grid-layout"></div>
          <div class="footer"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'page2'">
    <div class="wrapper">
      <div class="header">
        <div class="logo">LOGO</div>
      </div>
      <div class="content-wrapper">
        <div class="sidebar"></div>
        <div class="main-content">
          <div class="subheader"></div>
          <table class="table-layout">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="footer"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'page3'">
    <div class="pdf-wrapper">
      <div class="pdf-header">
        <div class="left">Overview</div>
        <div class="right">
          <div class="refresh-div">
            <p>Refreshed Just Now</p>
            <button class="d-btn d-btn--tertiary vs">
              <span class="icon-refresh icon--vs"></span>
            </button>
          </div>
          <div class="line-div"></div>

          <button
            class="d-btn d-btn--circle tertiary-circle tooltip-btn vs"
            type="button"
            placement="bottom"
            ngbTooltip="Prev"
          >
            <span class="icon-leftarrow icon--sm"></span>
          </button>

          <button
            class="d-btn d-btn--circle tertiary-circle tooltip-btn vs"
            type="button"
            placement="bottom"
            ngbTooltip="Next"
          >
            <span class="icon-rightarrow icon--sm"></span>
          </button>

          <div class="line-div"></div>

          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="d-btn d-btn--circle tertiary-circle vs"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <span class="icon-threedots icon--vs"></span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <ul>
                <li>
                  <button ngbDropdownItem>
                    <div class="drop">
                      <span class="icon-Vector icon--vs"></span>
                      <p>Download Pdf</p>
                    </div>
                    <span class="icon-Vector-31 icon--vs"></span>
                  </button>
                </li>
                <li>
                  <button ngbDropdownItem>
                    <div class="drop">
                      <span class="icon-Vector-Stroke-1 icon--vs"></span>
                      <p>Export</p>
                    </div>
                    <span class="icon-Vector-31 icon--vs"></span>
                  </button>
                </li>
                <li>
                  <button ngbDropdownItem>
                    <div class="drop">
                      <span class="icon-print icon--vs"></span>
                      <p>Print</p>
                    </div>
                    <span class="icon-Vector-31 icon--vs"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="line-div"></div>

          <button class="d-btn d-btn--circle tertiary-circle vs">
            <span class="icon-x icon--sm"></span>
          </button>
        </div>
      </div>
      <div class="pdf-body">dummdjhcfusdgc</div>
    </div>
  </div>

  <div *ngSwitchCase="'page4'">



    <div class="recent-container">
      <div class="overley-colored-container"></div>
        <div class="recent-upper-container">
          <div class="txt-div">
            <h4>Welcome Back, Jack</h4>
            <p>
              Explore your data insights in real time with Tableau. Our platform
              gives you easy access to your personalized dashboards, ensuring
              you stay informed and make data-driven decisions quickly.
            </p>
          </div>

          <button class="d-btn d-btn--circle tertiary-circle vs close-btn">
            <span class="icon-x icon--sm"></span>
          </button>
        </div>

        <div class="recent-bottom-container">
          <div class="img-txt-container">
            <div class="img">
              <img src="#" alt="">
            </div>
            <div class="text">
              <h4>Nothing Here Yet</h4>
              <p>
                This might be because the content hasn’t been added yet or the
                section you're looking for is currently unavailable.
              </p>
              <button class="d-btn d-btn--primary md"><p>Go To Home</p></button>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>
