<div [ngSwitch]="selectClass">
  <div *ngSwitchCase="'very-small'" class="very-small">
    <div class="heading">
      <h1>Simple Select Validation</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        Validation in forms refers to the process of ensuring that the data
        entered into a form meets certain criteria or rules before it is
        accepted and processed. This is important for maintaining data integrity
        and preventing errors or inconsistencies.
      </p>
    </div>
    <div class="form-group error">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper vs">
        <select class="custom-select">
          <option value="">Select Option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
      <div class="error-message">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'small'" class="small">
    <div class="heading">
      <h1>Simple Select Validation</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        Validation in forms refers to the process of ensuring that the data
        entered into a form meets certain criteria or rules before it is
        accepted and processed. This is important for maintaining data integrity
        and preventing errors or inconsistencies.
      </p>
    </div>
    <div class="form-group error">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper sm">
        <select class="custom-select">
          <option value="">Select Option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
      <div class="error-message">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'medium'" class="medium">
    <div class="heading">
      <h1>Simple Select Validation</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        Validation in forms refers to the process of ensuring that the data
        entered into a form meets certain criteria or rules before it is
        accepted and processed. This is important for maintaining data integrity
        and preventing errors or inconsistencies.
      </p>
    </div>
    <div class="form-group error">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper md">
        <select class="custom-select">
          <option value="">Select Option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
      <div class="error-message">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'large'" class="large">
    <div class="heading">
      <h1>Simple Select Validation</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        Validation in forms refers to the process of ensuring that the data
        entered into a form meets certain criteria or rules before it is
        accepted and processed. This is important for maintaining data integrity
        and preventing errors or inconsistencies.
      </p>
    </div>
    <div class="form-group error">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper lg">
        <select class="custom-select">
          <option value="">Select Option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
      <div class="error-message">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'extra-large'" class="extra-large">
    <div class="heading">
      <h1>Simple Select Validation</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        Validation in forms refers to the process of ensuring that the data
        entered into a form meets certain criteria or rules before it is
        accepted and processed. This is important for maintaining data integrity
        and preventing errors or inconsistencies.
      </p>
    </div>
    <div class="form-group error">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper xl">
        <select class="custom-select">
          <option value="">Select Option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
      <div class="error-message">This is error alert</div>
    </div>
  </div>

  <div *ngSwitchCase="'double-extra-large'" class="double-extra-large">
    <div class="heading">
      <h1>Simple Select Validation</h1>
      <div class="line"></div>
      <h2>{{ heading }}</h2>
      <p>
        Validation in forms refers to the process of ensuring that the data
        entered into a form meets certain criteria or rules before it is
        accepted and processed. This is important for maintaining data integrity
        and preventing errors or inconsistencies.
      </p>
    </div>
    <div class="form-group error">
      <label for="label" class="d-none">{{ label }}</label>
      <div class="input-wrapper xxl">
        <select class="custom-select">
          <option value="">Select Option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
      <div class="error-message">This is error alert</div>
    </div>
  </div>
</div>
