@use "./mixins" as *;
@use "./foundation" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;

.breadcrumb {
  @include flex-box(na, na, center, na, na);
  margin: 0;
  .breadcrumb-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include flex-box(na, na, center, na, na);
    .breadcrumb-item {
      @include flex-box(na, na, center, na, na);

      a {
        text-decoration: none;
        @include typography($fs-large, $lh-xxl, $font-regular, $secondary-text-color);
      }

      span {
        float: left;
        padding: 0 10px;
        color: $secondary-text-color;
        &::before {
          font-size: $fs-xxl;
        }
      }

      .star-bread {
        @include flex-box(na,na,center,na,na);
        .star {
          padding: 0;
          padding-right: 5px;
          padding-bottom: 5px;
          &::before {
            font-size: $fs-xl;
          }
        }
      }
      &.active {
        @include typography($fs-large, $lh-xxl, $font-regular, $primary-text-color);
      }
      &::before {
        content: none;
        display: none;
      }
    }
    .breadcrumb-item + .breadcrumb-item {
      padding: 0;
    }
  }
}
