@use './theme/blue-theme' as *;
@use './mixins' as *;
@use './fonts/medium' as *;
@use "./storybook.scss";
@use './foundation' as *;

.d-btn {
  padding: 8px 16px;
  border-radius: $border-radius-small;
  @include typography(14,na,500,na);
  @include flex-box(na, center, center, nowrap, 10);
  border: 1px solid transparent;
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;

  &.vs {
    font-size: 12px;
    padding: 7px 12px;
    height: 28px;
  }
  &.sm {
    font-size: 13px;
    height: 32px;
  }
  &.md {
    font-size: 14px;
    padding: 11px 16px;
    height: 38px;
  }
  &.lg {
    font-size: 14px;
    padding: 10px 20px;
    height: 42px;
  }
  &.xl {
    font-size: 15px;
    padding: 13px 20px;
    height: 48px;
  }
  &.xxl {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 20px;
    height: 54px;
  }

  &--primary {
    background-color: #017bba;
    color: #ffffff;
    &:hover {
      background-color: #3397c5;
    }
  }

  &--secondary {
    border: 1px solid #017bba;
    background-color: #ffffff;
    color: #017bba;
    &:hover {
      background-color: #3397c5;
      color: #ffffff;
      border: 1px solid #3397c5;
    }
  }

  &--tertiary {
    background-color: #ffffff;
    padding: 8px;
    gap: 8px;
    p {
      @include typography(13, na, 500, #444444);
    }
    .header-icon {
      font-size: 16px;
    }
    &:hover {
      background-color: #dcdfec;
      .header-icon {
        &::before{
          color: #676879;
        }
      }
    }
  }

  &--link {
    background-color: #ffffff;
    color: #017bba;
    cursor: pointer;
    &:hover {
      color: #3397c5;
    }
  }

  &--success {
    background-color: #258750;
    color: #ffffff;
  }

  &--danger {
    background-color: #d83a52;
    color: #ffffff;
  }

  &--primary-disable {
    background-color: #017bba;
    color: #ffffff;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--secondary-disable {
    border: 1px solid #0073ea;
    background-color: #ffffff;
    color: #0073ea;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--tertiary-disable {
    background-color: #ffffff;
    color: #4d4d4d;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.loader {
    background-color: #017bba;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    position: relative;
    display: inline-flex;
    @include flex-box(na, center, center, na, na);
    .loading {
      content: "";
      width: 16px;
      height: 16px;
      border: 3px solid #d3d3d3;
      border-top: 3px solid white;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
      animation-play-state: running;
    }

    &:hover &::after {
      animation-play-state: paused;
    }

    &--vs {
      padding: 6px 43px;
      height: 28px;
      .loading {
        width: 16px;
        height: 16px;
      }
    }
    &--sm {
      padding: 8px 37px;
      height: 32px;
      .loading {
        width: 18px;
        height: 18px;
      }
    }
    &--md {
      padding: 9px 46px;
      height: 38px;
      .loading {
        width: 20px;
        height: 20px;
      }
    }
    &--lg {
      padding: 9px 42px;
      height: 42px;
     .loading{
        width: 24px;
        height: 24px;
      }
    }
    &--xl {
      padding: 10px 60px;
      height: 48px;
      .loading {
        width: 28px;
        height: 28px;
      }
    }
    &--xxl {
      padding: 11px 57px;
      height: 54px;
      .loading {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.d-btn-small {
  font-size: 12px;
  font-weight: 500;
  padding: 3px 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  &--danger {
    color: #e2445c;
    background-color: #f9dade;
  }
  &--warning {
    color: #7d6819;
    background-color: #ffeeb4;
  }
  &--success {
    color: #258750;
    background-color: #e9f3ee;
  }
}

.squr-btn {
  padding: 8px;
  // width: 100px;
  border: none;
  outline: none;
  background-color: #ffffff;
  img {
    width: 100%;
    height: 100%;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.dropdown {
  .dropdown-menu.show {
    box-shadow: 0 12px 26px 0 #0000001f;
    border-radius: 8px;
    border: 0;
    padding: 0;
    width: 200px;
    ul {
      margin: 0;
      padding: 8px;
      @include typography(13, na, 600, #172b4d);
      li {
        list-style-type: none;
        .dropdown-item {
          padding: 8px;
          @include flex-box(na, space-between, center, na, na);
          p {
            @include typography(13, na, 500, #444444);
          }
          .checkmark {
            border-radius: 8px;
            background-color: #0073ea;
            position: relative;
            @include dimensions(16, 16);
            &::after {
              content:"";
              border: solid white;
              border-width: 0 1px 1px 0;
              transform: rotate(45deg);
              @include dimensions(9, 5);
              @include absolute(2, 2, 2, 6);
            }
          }
          &:hover {
            background-color: #dcdfec;
            border-radius: 4px;
          }
        }
      }
    }
    hr {
      margin: 8px;
      border: 1px solid #d0d4e4;
    }
  }

  .dropdown-toggle {
    &::after {
      // content: "\e944"; // ← This is your Unicode from IcoMoon
      // font-family: "IcoMoon"; // ← Must match the font-family defined in your CSS
      // font-style: normal;
      // font-weight: normal;
      // speak: none;
      // display: inline-block;
      // text-decoration: inherit;
      // text-align: center;
      // border: 0;
      // color: #a3adba;
      // font-size: 16px;
    }
    &:hover::after{
      color: #676879;
    }

    p {
      @include typography(13, na, 500, #444444);
    }
  }
}
