@use "./theme/blue-theme" as *;
@use "./mixins" as *;
@use "./fonts/medium" as *;
@use "./storybook.scss";
@use "./foundation" as *;

.d-btn {
  // padding: $vvs-p $small-p;
  border-radius: $border-radius-small;
  @include typography($fs-large, na, $font-medium, na);
  @include flex-box(na, center, center, nowrap, 10);
  border: none;
  outline: none;
  box-sizing: border-box;
  margin: 0;

  &.vs {
    font-size: $fs-small;
    padding: $zero-p $vs-p;
    @include dimensions($btn-vs-size, na);
  }
  &.sm {
    font-size: $fs-medium;
    // padding: 0 $small-p;
    @include dimensions($btn-sm-size, na);
  }
  &.md {
    font-size: $fs-large;
    padding: $zero-p $small-p;
    @include dimensions($btn-md-size, na);
  }
  &.lg {
    font-size: $fs-large;
    padding: $zero-p $medium-p;
    @include dimensions($btn-lg-size, na);
  }
  &.xl {
    font-size: $fs-large;
    padding: $zero-p $medium-p;
    @include dimensions($btn-xl-size, na);
  }
  &.xxl {
    padding: $zero-p $medium-p;
    @include typography($fs-xl, na, $font-bolder, na);
    @include dimensions($btn-xxl-size, na);
  }

  &--primary {
    background-color: $primary-color;
    color: $text-color-on-primary;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: $primary-hover-color;
    }
  }

  &--secondary {
    border: 1px solid $primary-color;
    background-color: $primary-background-color;
    color: $primary-color;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: $primary-hover-color;
      color: $text-color-on-primary;
      border: 1px solid $primary-hover-color;
    }
  }

  &--tertiary {
    background-color: transparent;
    transition: all 0.2s ease-in;
    padding: $vvs-p;
    gap: 8px;
    p {
      @include typography($fs-medium, na, $font-medium, $secondary-text-color);
    }
    .header-icon {
      &::before {
        color: $icon-color-secondary;
        font-size: $fs-xl;
      }
    }

    &:hover {
      background-color: $primary-background-hover-color;
      transition: all 0.2s ease-in;
      p {
        color: $primary-text-color;
      }
      .header-icon {
        &::before {
          color: $icon-active-color;
        }
      }
    }
  }

  &--link {
    background-color: transparent;
    color: $primary-color;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      color: $primary-hover-color;
    }
  }

  &--success {
    background-color: $positive-color;
    color: $fixed-light-color;
  }

  &--danger {
    background-color: $negative-color;
    color: $fixed-light-color;
  }

  &--primary-disable {
    background-color: $primary-color;
    color: $fixed-light-color;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--secondary-disable {
    border: 1px solid $primary-color;
    background-color: $fixed-light-color;
    color: $primary-color;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--tertiary-disable {
    background-color: $primary-background-color;
    color: $primary-text-color;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.loader {
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius-small;
    padding: $vs-p $large-p;
    @include flex-box(na, center, center, na, na);
    .loading {
      @include dimensions(16, 16);
      border: 3px solid #d3d3d3;
      border-top: 3px solid $fixed-light-color;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
      animation-play-state: running;
    }

    &:hover &::after {
      animation-play-state: paused;
    }

    &--vs {
      padding: 6px 43px;
      height: $btn-vs-size;
      .loading {
        @include dimensions(16, 16);
      }
    }
    &--sm {
      padding: 8px 37px;
      height: $btn-sm-size;
      .loading {
        @include dimensions(18, 18);
      }
    }
    &--md {
      padding: 9px 46px;
      height: $btn-md-size;
      .loading {
        @include dimensions(20, 20);
      }
    }
    &--lg {
      padding: 9px 42px;
      height: $btn-lg-size;
      .loading {
        @include dimensions(24, 24);
      }
    }
    &--xl {
      padding: 10px 60px;
      height: $btn-xl-size;
      .loading {
        @include dimensions(28, 28);
      }
    }
    &--xxl {
      padding: 11px 57px;
      height: $btn-xxl-size;
      .loading {
        @include dimensions(32, 32);
      }
    }
  }
}

.d-btn-small {
  font-size: $fs-small;
  font-weight: $font-medium;
  padding: 3px $vvs-p;
  outline: none;
  border: none;
  border-radius: $border-radius-small;
  &--danger {
    color: #e2445c;
    background-color: #f9dade;
  }
  &--warning {
    color: #7d6819;
    background-color: #ffeeb4;
  }
  &--success {
    color: #258750;
    background-color: #e9f3ee;
  }
}

.squr-btn {
  padding: 10px;
  border: none;
  outline: none;
  background-color: $primary-background-color;
  @include dimensions(35, 35);
  border-radius: 4px;
  span {
    @include dimensions(13, 13);
    &::before {
      color: $icon-color-on-dark-bg;
    }
  }
  &:hover {
    background-color: $secondary-background-color;
    span {
      &::before {
        color: $icon-color-secondary;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
