@use "./mixins" as *;
@use "./foundation" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;

.cards-container {
  padding: $vvvs-p;
  border-radius: $border-radius-medium;
  @include dimensions(44, 262);
  @include flex-box(na, na, na, na, 10);

  &.negative-color {
    background-color: $negative-color-selected;
  }
  &.warning-color{
    background-color: $warning-color-selected;
  }
  &.primary-color{
    background-color: $primary-selected-color;
  }

  &.positive-color{
    background-color: $positive-color-selected;
  }
  .card-img-div {
    @include dimensions(36, 36);
    border-radius: $border-radius-medium;
    background-color: $primary-background-color;
    @include flex-box(na, center, center, na, na);
  }

  .card-text-div {
    @include flex-box(column, na, na, na, na);
    .text1 {
      margin: 0;
      @include typography($fs-small, na, $font-medium, #202020);
    }

    .text2 {
      @include typography($fs-xl, 18, $font-bold, #53585b);
    }
  }
}
