@use "./theme/blue-theme" as *;
@use "./foundation" as *;
@use "./mixins" as *;

.cards-container{
    padding: 5px;
    border-radius: $border-radius-medium;
    background-color: #FFEFF2;
    // display: flex;
    // gap: 10px;
    // width: 262px;
    // height: 45px;
    @include dimensions(45,262);
    @include flex-box(na,na,na,na,10);
    .card-img-div{
        width: 35px;
        height: 35px;
        border-radius: $border-radius-medium;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-text-div{
        display: flex;
        flex-direction: column;

        .text1{
            font-size: 12px;
            font-weight: 500;
            color: #202020;
            margin: 0;
        }

        .text2{
            font-size: 16px;
            font-weight: 600;
            color: #53585B;
            line-height: 18px;
        }
    }
}