@use './mixins' as *;
@use './foundation' as *;

.chips{
    border-radius: 4px;
    background-color: #F2F3F5;
    padding:2px 3px;
    display: inline-flex;
    width: auto;
    align-items: center;
    gap: 4px;
    &--sm{
        height: 28px;
    }
    &--vs{
        height: 22px;
    }
    p{
        font-size: 14px;
        color: #4D4D4D;
    }

    .cross-sign{
        border-radius: $border-radius-small;
        padding: 4.5px;
        @include dimensions(18,18);
        @include flex-box(na,center,center,na,na);
        background-color: #ffffff;
        span{
            width: fit-content;
            box-sizing: content-box;
            font-size: 9px;
        }
    }
}