.modal-dialog {
  width: 454px;

  .dialogue-container {
    width: 454px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 15px 50px 0 #0000004d;
    .modal-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: none;
      padding: 16px;
      padding-bottom: 14px;
      .modal-title {
        font-size: 16px;
        font-weight: 600;
        color: #202020;
      }
      .btn-close {
        width: 26px;
        height: 26px;
        background-color: #f2f3f5;
        border-radius: 5px;
        box-shadow: none;
        opacity: 1;
        color: #202020;
        box-sizing: border-box;
        margin: 0;
        &:focus {
          box-shadow: none;
        }
      }
    }

    .modal-body {
      width: 100%;
      padding-top: 0;
      .text-muted {
        font-size: 13px;
        font-weight: 500;
        color: #4d4d4d !important;
        margin-bottom: 28px;
      }

      .input-box {
        position: relative;
        &.mb-3 {
          margin-bottom: 12px !important;
        }
        .toplabel-input {
          border-radius: 4px;
          background-color: #f2f3f5;
          font-size: 13px;
          font-weight: 500;
          padding: 3px 8px;
          color: #4d4d4d;
          height: 18px;
          display: inline-flex;
          align-items: center;
          position: absolute;
          left: 8px;
          top: -8px;
        }
        .form-control {
          border: 1px solid #dddede;
          border-radius: 4px;
          &::placeholder {
            font-size: 13px;
            font-weight: 500;
            color: #4d4d4d;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .modal-footer {
      border: 0;
      margin: 0;
      padding-top: 0;
    }
  }
}
