@use "./theme/blue-theme" as *;
@use "./mixins" as *;
@use "./fonts/medium" as *;

.dropdown {
  .form-control {
    border-radius: 4px;
    border: 1px solid #dddede;
    position: relative;
    height: 54px;
    width: 344px;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 500;
    color: #4D4D4D;
    &::placeholder {
      font-size: 13px;
      font-weight: 500;
      color: #4d4d4d;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid #363636;
    }
  }
  .toplabel-input {
    border-radius: 4px;
    background-color: #f2f3f5;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 8px;
    color: #4d4d4d;
    height: 18px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 12px;
    top: -8px;
    z-index: 1;
  }

  .dropdown-menu.show {
    box-shadow: 0 12px 26px 0 #0000001f;
    border-radius: 4px;
    border: 1px solid #dddede;
    padding: 0;
    width: 344px;
    padding: 6px;
    .dropdown-item {
      height: 43px;
      padding: 0 16px;
      @include flex-box(na, space-between, center, na, na);
      @include typography(14, na, 600, #323238);
      
      &:hover {
        background-color: #e6f2f8;
        border-radius: 4px;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      content: "\e944"; // ← This is your Unicode from IcoMoon
      font-family: "IcoMoon"; // ← Must match the font-family defined in your CSS
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      text-align: center;
      border: 0;
      color: #a3adba;
      font-size: 16px;
    }
    &:hover::after {
      color: #676879;
    }

    p {
      @include typography(13, na, 500, #444444);
    }
  }
}
