@use "./mixins" as *;
@use "./storybook";
@use "./foundation" as *;
@use "./fonts/medium" as *;

.d-none {
  display: none;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
  @include flex-box(column, na, na, na, na);
  label {
    margin-bottom: $vvs-m;
    @include typography(13, na, 500, #323238);
    &.d-none {
      display: none;
    }
    &.d-flex {
      display: flex;
    }
  }

  .input-wrapper {
    position: relative;
    border: 1px solid #c3c6d4;
    border-radius: $border-radius-small;
    background-color: #ffffff;
    padding: 0 12px;
    transition: border-color 0.3s, box-shadow 0.3s;
    @include flex-box(na, na, center, na, na);
    &.vs {
      height: 28px;
    }
    &.sm {
      height: 32px;
    }
    &.md {
      height: 38px;
    }
    &.lg {
      height: 42px;
    }
    &.xl {
      height: 48px;
    }
    &.xxl {
      height: 54px;
    }
    &.left-icon {
      .icon-1 {
        order: 0;
        margin-right: 8px;
        font-size: $fs-forth;
        @include flex-box(na, na, center, na, na);

        svg {
          path {
            stroke: 1.5px solid #676879;
          }
        }
      }
      input {
        order: 1;
      }
    }

    &.right-icon {
      .icon-2 {
        order: 1;
        margin-left: 8px;
        font-size: 13px;
        @include flex-box(na, na, center, na, na);
      }
      input {
        order: 0;
      }
    }

    &.both-icon {
      .icon-1 {
        order: 1;
        margin-right: 8px;
        font-size: $fs-forth;
        @include flex-box(na, na, center, na, na);
      }
      .icon-2 {
        order: 3;
        margin-left: 8px;
        font-size: 13px;
        @include flex-box(na, na, center, na, na);
      }
      input {
        order: 2;
      }
    }
    .icon {
      display: none;
      font-size: $fs-forth;
    }

    input {
      border: none;
      outline: none;
      flex: 1;
      @include typography(13, 20, 400, na);
      background: transparent;

      &::placeholder {
        color: #676879;
      }
    }

    &:focus-within {
      border-color: #3b82f6;
      box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
    }

    .custom-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-small;
      border: none;
      background-color: #fff;
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23676879' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0px center;
      background-size: 10px 6px;
      @include typography(13, na, 400, #676879);
      option {
        padding: 12px;
        width: 100%;
        position: absolute;
        @include typography(13, na, 400, #676879);
      }
      &:focus {
        outline: none;
      }
    }
  }

  .error-message {
    @include typography(12, na, na, #e53935);
    margin-top: 4px;
  }

  &.error {
    .input-wrapper {
      border-color: #e53935;
      box-shadow: 0 0 0 2px rgba(229, 57, 53, 0.2);
    }

    .error-message {
      display: block;
    }
  }
}

.search-container {
  border: 1px solid #d0d4e4;
  padding: 32px;
  display: flex;
  gap: 20px;
  border-radius: $border-radius-medium;
}

.search-box {
  @include flex-box(na, na, center, na, na);
  border: 1px solid #e5e6ec;
  border-radius: $border-radius-small;
  overflow: hidden;
  max-width: 300px;
  background-color: #ffffff;
  height: 32px;
  box-sizing: border-box;
  &--sm {
    height: 28px;
  }
  span {
    padding: 0 6px;
  }

  input {
    border: none;
    outline: none;
    flex: 1;
    @include typography(12, na, 400, #949494);
  }
  button {
    background-color: #eeeeef;
    border: none;
    padding: 10px 15px;
    @include typography(12, na, 500, #4d4d4d);
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.search-box-app {
  @include flex-box(na, space-between, center, na, na);
  border: 1px solid #c3c6d4;
  border-radius: $border-radius-small;
  overflow: hidden;
  max-width: 300px;
  background-color: #ffffff;
  padding: 6px 12px;
  height: 32px;
  box-sizing: border-box;
  input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0;
    &::placeholder {
      @include typography(12, na, 400, #949494);
    }
  }
}

.search-bar {
  @include flex-box(na, start, center, na, 8);
  border: 1px solid #d0d4e4;
  border-radius: $border-radius-small;
  overflow: hidden;
  background-color: #ffffff;
  padding: 8px;
  height: 32px;
  box-sizing: border-box;
  min-width: 174px;
  span {
    font-size: 16px;
  }
  input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0;
    &::placeholder {
      @include typography(13, na, 500, #676879);
    }
  }
}

.upload-container {
  @include flex-box(column, na, na, na, 20);
  width: 100%;
  .drop-zone {
    @include flex-box(column, na, na, na, 8);
    cursor: pointer;
    .upload-area {
      border: 2px dotted #c3c6d4;
      border-radius: 8px;
      height: 200px;
      @include flex-box(column, center, center, na, 8);
      position: relative;
      input[type="file"] {
        // display: none;
        width: 100%;
        height: 100%;
        @include absolute(0, 0, 0, 0);
        opacity: 0;
      }
      p {
        @include typography(13, na, 500, #202020);
        span {
          color: #017bba;
        }
      }

      .icon-Frame-2609432 {
        font-size: 48px;
      }
    }

    .support-format {
      @include flex-box(na, space-between, center, na, na);
      p {
        @include typography(12, na, 400, #676879);
      }
    }
  }
  .progress-area {
    background-color: #f6f7fb;
    padding: 16px;
    border-radius: 8px;
    @include flex-box(column, na, na, na, 8);
    .file-info {
      @include flex-box(na, space-between, center, na, na);
      .left-info {
        @include flex-box(na, na, center, na, 8);
        .file-img {
          border: 1px solid #d0d4e4;
          @include flex-box(na, center, center, na, na);
          @include dimensions(30, 30);
          padding: 7px;
          border-radius: 4px;
          background-color: #ffffff;
        }

        .file-text {
          @include flex-box(column, na, na, na, 2);
          .name {
            @include typography(13, na, 500, #323238);
          }
          .size {
            @include typography(12, na, 400, #676879);
          }
        }
      }
    }

    .pending-progress {
      @include flex-box(column, na, na, na, 4);
      .progresses {
        @include flex-box(na, space-between, center, na, na);

        .right {
          @include flex-box(na, center, center, na, 5);
        }
      }

      .progress-bar {
        flex-grow: 1;
        height: 6px;
        background: #ffffff;
        border-radius: 50px;
        overflow: hidden;
        .progress {
          height: 100%;
          width: 50%;
          background: linear-gradient(
            90deg,
            #5e58ee,
            #4dc0f9,
            #b7c964,
            #ffc207,
            #ff05ec
          );
          border-radius: 3px;
          transition: width 0.3s ease;
        }
      }
    }
  }
}
