@use "./mixins" as *;
@use "./storybook";
@use "./foundation" as *;
@use "./fonts/medium" as *;
@use "./theme/blue-theme" as *;


.form-group {
  margin-bottom: 1rem;
  margin-top: 2rem;
  @include flex-box(column, na, na, na, na);
  label {
    margin-bottom: $vvs-m;
    @include typography($fs-medium, 10, $font-medium, $primary-text-color);
    &.d-none {
      display: none;
    }
    &.d-flex {
      display: flex;
    }
  }

  .input-wrapper {
    position: relative;
    border: 1px solid $ui-border-color;
    border-radius: $border-radius-small;
    background-color: $primary-background-color;
    padding: 0 12px;
    transition: border-color 0.3s, box-shadow 0.3s;
    @include flex-box(na, na, center, na, na);
    &.vs {
      height: 28px;
    }
    &.sm {
      height: 32px;
    }
    &.md {
      height: 38px;
    }
    &.lg {
      height: 42px;
    }
    &.xl {
      height: 48px;
    }
    &.xxl {
      height: 54px;
    }
    &.left-icon {
      .icon-1 {
        order: 0;
        margin-right: 8px;
        font-size: $fs-forth;
        @include flex-box(na, na, center, na, na);
      }
      input {
        order: 1;
      }
    }

    &.right-icon {
      .icon-2 {
        order: 1;
        margin-left: 8px;
        font-size: 13px;
        @include flex-box(na, na, center, na, na);
      }
      input {
        order: 0;
      }
    }

    &.both-icon {
      .icon-1 {
        order: 1;
        margin-right: 8px;
        font-size: $fs-forth;
        @include flex-box(na, na, center, na, na);
      }
      .icon-2 {
        order: 3;
        margin-left: 8px;
        font-size: 13px;
        @include flex-box(na, na, center, na, na);
      }
      input {
        order: 2;
      }
    }
    .icon {
      display: none;
      font-size: $fs-forth;
    }

    input {
      border: none;
      outline: none;
      flex: 1;
      @include typography($fs-medium, 20, $font-regular, na);
      background: transparent;

      &::placeholder {
        color: $secondary-text-color;
      }
    }

    &:focus-within {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
    }

    .custom-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-small;
      border: none;
      background-color: $primary-background-color;
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23676879' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0px center;
      background-size: 10px 6px;
      @include typography($fs-medium, na, $font-regular, $secondary-text-color);
      option {
        padding: 12px;
        width: 100%;
        position: absolute;
        @include typography(
          $fs-medium,
          na,
          $font-regular,
          $secondary-text-color
        );
      }
      &:focus {
        outline: none;
      }
    }
  }

  .error-message {
    @include typography($fs-small, na, na, $negative-color);
    margin-top: 4px;
  }

  &.error {
    .input-wrapper {
      border-color: $negative-color;
      box-shadow: 0 0 0 2px rgba(229, 57, 53, 0.2);
    }

    .error-message {
      display: block;
    }
  }
}

.search-box {
  @include flex-box(na, na, center, na, na);
  border: 1px solid $layout-border-color;
  border-radius: $border-radius-small;
  overflow: hidden;
  max-width: 300px;
  background-color: $primary-background-color;
  height: 32px;
  box-sizing: border-box;
  &--sm {
    height: 28px;
  }
  span {
    padding: 0 6px;
  }

  input {
    border: none;
    outline: none;
    flex: 1;
    @include typography($fs-small, na, $font-regular, $disabled-text-color);
  }
  button {
    background-color: $secondary-background-color;
    border: none;
    padding: 10px 15px;
    @include typography($fs-small, na, $font-medium, $secondary-text-color);
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: $primary-background-hover-color;
    }
  }
}

.search-box-app {
  @include flex-box(na, space-between, center, na, na);
  border: 1px solid $ui-border-color;
  border-radius: $border-radius-small;
  overflow: hidden;
  max-width: 300px;
  background-color: $primary-background-color;
  padding: 6px 12px;
  height: 32px;
  box-sizing: border-box;
  input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0;
    &::placeholder {
      @include typography($fs-small, na, $font-regular, $disabled-text-color);
    }
  }
}

.search-bar {
  @include flex-box(na, start, center, na, 8);
  border: 1px solid $ui-border-color;
  border-radius: $border-radius-small;
  overflow: hidden;
  background-color: $primary-background-color;
  padding: 8px;
  height: 32px;
  box-sizing: border-box;
  min-width: 174px;

  &--rounded {
    border-radius: $border-radius-large;
  }
  span {
    &::before {
      color: $icon-color-secondary;
      font-size: 16px;
    }
  }
  input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0;
    @include typography($fs-medium, na, $font-medium, $primary-text-color);

    &::placeholder {
      @include typography($fs-medium, na, $font-medium, $disabled-text-color);
    }
  }

  &.active {
    border: 1px solid $primary-color;
    span {
      &::before {
        color: $icon-active-color;
      }
    }
    input {
      &::placeholder {
        color: $secondary-text-color;
      }
    }
  }
}

.upload-container {
  @include flex-box(column, na, na, na, 20);
  width: 100%;
  .drop-zone {
    @include flex-box(column, na, na, na, 8);
    cursor: pointer;
    .upload-area {
      border: 2px dotted $layout-border-color;
      border-radius: 8px;
      height: 200px;
      @include flex-box(column, center, center, na, 8);
      position: relative;
      input[type="file"] {
        // display: none;
        width: 100%;
        height: 100%;
        @include absolute(0, 0, 0, 0);
        opacity: 0;
      }
      p {
        @include typography($fs-medium, na, $font-medium, $primary-text-color);
        span {
          color: $primary-color;
        }
      }

      .icon-Frame-2609432 {
        font-size: 48px;
      }
    }

    .support-format {
      @include flex-box(na, space-between, center, na, na);
      p {
        @include typography(
          $fs-small,
          na,
          $font-regular,
          $secondary-text-color
        );
      }
    }
  }
  .progress-area {
    background-color: $grey-background-color;
    padding: 16px;
    border-radius: 8px;
    @include flex-box(column, na, na, na, 8);
    .file-info {
      @include flex-box(na, space-between, center, na, na);
      .left-info {
        @include flex-box(na, na, center, na, 8);
        .file-img {
          border: 1px solid $ui-border-color;
          @include flex-box(na, center, center, na, na);
          @include dimensions(30, 30);
          padding: 7px;
          border-radius: $border-radius-small;
          background-color: $primary-background-color;
        }

        .file-text {
          @include flex-box(column, na, na, na, 2);
          .name {
            @include typography(
              $fs-medium,
              na,
              $font-medium,
              $primary-text-color
            );
          }
          .size {
            @include typography(
              $fs-small,
              na,
              $font-regular,
              $secondary-text-color
            );
          }
        }
      }
    }

    .pending-progress {
      @include flex-box(column, na, na, na, 4);
      .progresses {
        @include flex-box(na, space-between, center, na, na);

        .right {
          @include flex-box(na, center, center, na, 5);
        }
      }

      .progress-bar {
        flex-grow: 1;
        height: 6px;
        background-color: $primary-background-color;
        border-radius: 50px;
        overflow: hidden;
        .progress {
          height: 100%;
          width: 50%;
          background: linear-gradient(
            90deg,
            #5e58ee,
            #4dc0f9,
            #b7c964,
            #ffc207,
            #ff05ec
          );
          border-radius: 3px;
          transition: width 0.3s ease;
        }
      }
    }
  }
}



.custom-checkbox {
  cursor: pointer;
  padding: 6px $vvs-p;
  margin-right: $vvs-m;
  @include flex-box(na, na, center, na, 8);
  @include typography($fs-medium, na, $font-medium, $secondary-text-color);

  input[type="checkbox"] {
    display: none;
  }
  &--outer-circle-border {
    border: 1px solid $layout-border-color;
    border-radius: 100px;
  }
  &--outer-rectangle-border {
    border: 1px solid $layout-border-color;
    border-radius: $border-radius-small;
  }
  .checkbox-box {
    border: 1px solid $layout-border-color;
    border-radius: $border-radius-small;
    padding-bottom: 3px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    @include flex-box(na, center, center, na, na);
    @include dimensions(16, 16);
    &--cicle-checkbox {
      border-radius: 50%;
    }
    .checkmark {
      @include dimensions(12, 6);
      border-right: 2px solid $fixed-light-color;
      border-bottom: 2px solid $fixed-light-color;
      transition: transform 0.2s ease;
      transform: rotate(0) scale(0);
    }
  }

  input[type="checkbox"]:checked ~ .checkbox-box {
    border-color: $primary-color;
    background-color: $primary-color;
  }

  input[type="checkbox"]:checked ~ .checkbox-box .checkmark {
    transform: rotate(45deg) scale(1);
  }

  &.checkbox-green {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: $positive-color;
      border-color: $positive-color;
    }
  }

  &.checkbox-yellow {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: $warning-color;
      border-color: $warning-color;
    }
  }

  &.checkbox-red {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: $negative-color;
      border-color: $negative-color;
    }
  }

  &.checkbox-indigo {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: $shareable-color;
      border-color: $shareable-color;
    }
  }

  &.checkbox-murrey {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: #880e4f;
      border-color: #880e4f;
    }
  }

  &.checkbox-vs {
    height: 28px;
    .checkbox-box {
      width: 16px;
      height: 16px;

      .checkmark {
        width: 5px;
        height: 9px;
      }
    }
  }

  &.checkbox-sm {
    height: 28px;
    .checkbox-box {
      @include dimensions(18, 18);
      .checkmark {
        @include dimensions(12, 6);
      }
    }
  }

  &.checkbox-md {
    height: 32px;
    .checkbox-box {
      @include dimensions(20, 20);

      .checkmark {
        @include dimensions(14, 7);
      }
    }
  }

  &.checkbox-lg {
    height: 32px;
    .checkbox-box {
      @include dimensions(24, 24);

      .checkmark {
        @include dimensions(16, 8);
      }
    }
  }

  &.checkbox-xl {
    height: 38px;
    .checkbox-box {
      @include dimensions(28, 28);

      .checkmark {
        @include dimensions(20, 10);
      }
    }
  }
}

.building-container-checkbox {
  border: 1px solid $layout-border-color;
  border-radius: $border-radius-small;
  position: relative;
  padding: 28px;
  width: 274px;
  @include flex-box(na, na, center, na, 12);
  @include typography($fs-large, na, $font-bold, $secondary-text-color);
  span {
    font-size: 44px;
  }
  &:hover {
    background-color: $primary-selected-color;
    border: 1px solid $primary-selected-color;
  }

  label {
    @include absolute(9, 9, na, na);
  }
}

.custom-radio {
  cursor: pointer;
  padding: 6px 8px;
  @include flex-box(na, na, center, na, na);
  @include typography($fs-medium, na, $font-medium, $secondary-text-color);
  &--outer-circle-border {
    border: 1px solid $layout-border-color;
    border-radius: 100px;
  }
  &--outer-rectangle-border {
    border: 1px solid $layout-border-color;
    border-radius: $border-radius-small;
  }

  input[type="radio"] {
    display: none;
  }

  .radio-box {
    border: 1px solid $layout-border-color;
    border-radius: 50%;
    margin-right: 8px;
    transition: border-color 0.3s ease;
    @include flex-box(na, center, center, na, na);
    @include dimensions(20, 20);
  }

  .radio-dot {
    @include dimensions(12, 12);
    background-color: $primary-color;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease;
  }

  input[type="radio"]:checked ~ .radio-box .radio-dot {
    transform: scale(1);
  }

  input[type="radio"]:checked ~ .radio-box {
    border-color: $primary-color;
  }

  &.radio-vs {
    height: 28px;
    .radio-box {
      @include dimensions(16, 16);
      .radio-dot {
        @include dimensions(8, 8);
      }
    }
  }

  &.radio-sm {
    height: 28px;
    .radio-box {
      @include dimensions(18, 18);

      .radio-dot {
        @include dimensions(10, 10);
      }
    }
  }

  &.radio-md {
    height: 32px;
    .radio-box {
      @include dimensions(20, 20);

      .radio-dot {
        @include dimensions(10, 10);
      }
    }
  }
  &.radio-lg {
    height: 32px;
    .radio-box {
      @include dimensions(22, 22);
      .radio-dot {
        @include dimensions(12, 12);
      }
    }
  }

  &.radio-xl {
    height: 38px;
    .radio-box {
      @include dimensions(24, 24);

      .radio-dot {
        @include dimensions(14, 14);
      }
    }
  }
}

.datetime {
  padding: 12px;
  border: 1px solid $layout-border-color;
  border-radius: $border-radius-small;

  &:focus {
    outline: none;
    border: 1px solid $primary-color;
  }
}

.flatpickr-calendar {
  color: $primary-text-color;
}

.switchBox {
  @include flex-box(na, na, center, na, 4);
  @include typography($fs-medium, na, $font-medium, $secondary-text-color);
  .switch {
    position: relative;
    display: inline-block;
    @include dimensions(14, 24);
    input {
      display: none;
    }

    .slider {
      cursor: pointer;
      background-color: $grey-background-color;
      transition: 0.4s;
      border-radius: 100px;
      @include absolute(0, 0, 0, 0);
      &::before {
        content: "";
        background-color: $primary-background-color;
        transition: 0.4s;
        border-radius: 100px;
        @include dimensions(10, 10);
        @include absolute(na, na, 2, 2);
      }
    }

    input:checked + .slider {
      background-color: $primary-color;
    }

    input:checked + .slider::before {
      transform: translateX(10px);
    }
  }
}

.calendar {
  width: 310px;
  box-shadow: 0 24px 38px 3px #00000024;
  font-family: sans-serif;

  .calendar-header {
    background: $primary-color;
    color: white;
    padding: 16px 24px;
    .calendar-year {
      margin: 0;
      margin-bottom: 4px;
      @include typography($fs-large, na, $font-regular, #ffffff8a);
    }
    h2 {
      margin: 0;
      @include typography($fs-primary, $lh-primary, $font-bolder, #ffffff);
    }
  }

  .calendar-controls {
    padding: 10px;
    height: 60px;
    @include flex-box(na, space-between, center, na, na);
    button {
      background-color: transparent;
      border: none;
    }

    .curMonth {
      @include typography($fs-xl, na, $font-bolder, $primary-text-color);
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px;

    .calendar-day {
      padding: 12px 8px;
      border: none;
      background: none;
      font-weight: light;
      &.selected {
        background-color: $primary-selected-color;
        color: white;
        border-radius: 50%;
      }
    }

    .day-name {
      margin-bottom: 4px;
      @include typography(11, 13, $font-bolder, #00000061);
    }
  }

  .calendar-actions {
    padding: 16px 20px;
    @include flex-box(na, end, na, na, 24);
    button {
      background-color: transparent;
      border: none;
      @include typography($fs-large, na, $font-bolder, $primary-color);
    }
  }
}
