@use "./mixins" as *;

.table-container {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow-x: auto;
  // margin: 0 16px;
  //   background-color: #f1f2f4;
  thead {
    width: 100%;
    background-color: transparent;
    tr {
      width: 100%;
      th {
        text-align: start;
        padding: 11px 8px;
        @include typography(13, na, 600, #172b4d);
        span{
          font-size: 18px;
        }
      }
      .head {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  tbody {
    width: 100%;
    background-color: #ffffff;
    tr {
      &:first-child {
        td {
          &:first-child {
            border-top-left-radius: 8px;
          }

          &:last-child {
            border-top-right-radius: 8px;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 8px;
          }

          &:last-child {
            border-bottom-right-radius: 8px;
          }
        }
      }

      td {
        font-size: 13px;
        font-weight: 500;
        color: #676879;
        padding: 5px 8px;
        border-top: 1px solid #d0d4e4;
        text-wrap: nowrap;
        &.first-row {
          text-wrap: nowrap;
          @include flex-box(na, na, center, na, 8);
        }

        .more-icon {
          width: 28px;
          height: 28px;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #dcdfec;
          }
        }
        &:hover {
          color: #172b4d;
        }
      }
    }
  }
}
