@use "./mixins" as *;
@use "./fonts/medium" as *;
@use "./foundation" as *;


.table-container {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow-x: auto;
  thead {
    width: 100%;
    background-color: transparent;
    tr {
      width: 100%;
      th {
        text-align: start;
        padding: 11px 8px;
        @include typography($fs-medium, na, $font-bold, #172b4d);
        span{
          font-size: $fs-xxl;
        }
      }
      .head {
        @include flex-box(na,na,center,na,8);
      }
    }
  }

  tbody {
    width: 100%;
    background-color: #ffffff;
    tr {
      &:first-child {
        td {
          &:first-child {
            border-top-left-radius: 8px;
          }

          &:last-child {
            border-top-right-radius: 8px;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 8px;
          }

          &:last-child {
            border-bottom-right-radius: 8px;
          }
        }
      }

      td {
        padding: 5px 8px;
        border-top: 1px solid #d0d4e4;
        text-wrap: nowrap;
        @include typography($fs-medium,na,$font-medium,#676879);
        &.first-row {
          text-wrap: nowrap;
          @include flex-box(na, na, center, na, 8);
        }

        .more-icon {
          border-radius: 50px;
          @include dimensions(28,28);
          @include flex-box(na,center,center,na,na);
          &:hover {
            background-color: #dcdfec;
          }
        }
        &:hover {
          color: #172b4d;
        }
      }
    }
  }
}
