.table-container{
    width: 100%;
    border-collapse: collapse;
        thead{
            background-color: #F1F2F4;
            tr{
                width: 100%;
                th{
                    // display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                    font-weight: 600;
                    color: #172B4D;
                    padding: 11px 8px;
                }
            }
        }
}