@use "./mixins" as *;
@use './fonts/medium' as *;
@use "./foundation" as *;
@use "./theme/blue-theme" as *;

.header-container {
  width: 100%;
  height: 44px;
  background-color: $primary-background-color;
  padding: 6px $vs-p;
  @include flex-box(na, end, center, na, 8);
  border-bottom: 1px solid #d0d4e4;
  .switch-tab {
    @include flex-box(na, na, center, na, 4);
    p {
      @include typography($fs-medium, na, $font-medium, #172b4d);
    }
  }
  .more-icon {
    @include dimensions(28, 28);
    border-radius: 50px;
    @include flex-box(na, center, center, na, na);
    &:hover {
      background-color: #dcdfec;
    }
    span {
      font-size: $fs-forth;
    }
  }
}

.subheader-container {
  @include flex-box(column, na, na, na, na);
  .top-container {
    padding-bottom: 16px;
    @include flex-box(na, space-between, center, na, 40);
    @include max-width(580) {
      align-items: start;
      padding: 10px;
    }
    .left {
      @include typography($fs-forth,na,$font-bolder,#172b4d);
    }
    .right {
      @include flex-box(na, na, center, na, 4);
      .search-box-app {
        &.desktop {
          @include max-width(580) {
            display: none;
          }
        }
      }
      .d-btn {
        p,
        .excel {
          @include typography(na,na,$font-medium,$secondary-text-color);
          @include flex-box(na,na,center,na,8);
          @include max-width(1096) {
            display: none;
          }
        }
        &--primary {
          background-color: #0073ea;
          &.desktop {
            @include max-width(580) {
              display: none;
            }
          }

          &:hover {
            background-color:$primary-hover-color;
          }
          .add {
            color: #ffffff;
            display: flex;
            @include max-width(768) {
              display: none;
            }
          }
        }

        &--tertiary {
          padding: 8px 12px;
          gap: 5px;
          height: 32px;
          &:hover {
            background-color: #dcdfec;
          }
        }
      }
    }
  }

  .mobile-right {
    display: none;
    @include max-width(580) {
      display: flex;
      gap: 10px;
    }
    .search-box-app {
      width: 100%;
      max-width: 100%;
    }
    .d-btn {
      padding: 8px 12px;
      gap: 4px;
      height: 32px;
      box-sizing: border-box;
      background-color: transparent;

      &--primary {
        background-color: #0073ea;

        .add {
          color: #ffffff;
          display: flex;
          color: $secondary-text-color;
          font-weight: $font-medium;
          
          @include max-width(768) {
            display: none;
          }
        }
      }
    }
  }
}
