@use "./theme/blue-theme" as *;
@use "./mixins" as *;
@use "./fonts/medium" as *;
@use "./storybook";
@use "./foundation" as *;

.d-btn {
   
  &--secondary-dotted {
    border: 2px dotted $primary-color ;
    color: $primary-color ;
    background-color: $primary-background-color;
     &:hover {
      background-color: $primary-hover-color;
      color: $text-color-on-primary;
      border: 2px dotted $primary-hover-color;
    }
  }
  
  &--circle {
    border-radius: 50px;
    background-color: $primary-background-color;
    @include flex-box(na, center, center, na, na);
    @include typography($fs-small, na, $font-medium, $fixed-light-color);

    &:hover{
      background-color: $primary-background-hover-color;
    }

    &.dotted-circle {
      border: 2px dotted $primary-color; 
      &:hover {
        background-color: $primary-hover-color;
        color: $text-color-on-primary;
        border: 1px solid $primary-hover-color;
      }
    }

    &.solid-circle {
      border: 1px solid $primary-color;
      &:hover {
        background-color: $primary-hover-color;
        color: $text-color-on-primary;
        border: 1px solid $primary-hover-color;
      }
    }

    &.primary-bg-circle {
      background-color: $primary-color;
      &:hover {
        background-color: $primary-hover-color;
        color: $text-color-on-primary;
      }
    }

    &.brown-bg-circle {
      background-color: $secondary-background-color;
      &:hover {
        background-color: $primary-background-hover-color;
      }
    }

    &.light-bg {
      font-weight: $font-bold;
      &--danger {
        background-color: #f4dee4;
        color: $secondary-text-color;
      }
      &--purple {
        background-color: #e0daee;
        color: $secondary-text-color;
      }

      &--success {
        background-color: #d6ecf5;
        color: $secondary-text-color;
      }
      &--primary {
        background-color: $primary-color;
        @include typography($fs-tertiary,na,$font-bolder,$text-color-on-primary);
      }
    }

    &.dark-bg{
        @include typography($fs-small,na,$font-medium,$fixed-light-color);
        &--purple{
          background-color: #6242A5;
        }
        &--green{
          background-color: #447B80;
        }
        &--blue{
          background-color: $primary-color;
        }
        &--red{
          background-color: #D83A52;
        }
        &--orange{
          background-color: #FF8358;
        }
        &--brown{
          background-color: #CA9A8B;
        }
    }

    &.vvs{
      @include dimensions(24,24);
    }
    &.vs {
      @include dimensions(28,28);
    }
    &.sm {
      @include dimensions(32,32);
    }
    &.md {
      @include dimensions(38,38);
    }
    &.lg {
      @include dimensions(42,42);
    }
    &.xl {
      @include dimensions(48,48);
    }
    &.xxl {
      @include dimensions(54,54);
    }
    &.xxxl {
      @include dimensions(80,80);
    }
  }

  .icon {
    &--vvs {
      font-size: 16px;
    }
    &--vs {
      font-size: 18px;
    }
    &--sm {
      font-size: 20px;
    }
    &--md {
      font-size: 22px;
    }
    &--lg {
      font-size: 24px;
    }
    &--xl {
      font-size: 28px;
    }
    &--xxl {
      font-size: 32px;
    }
  }
}

.add {
  &--vs {
    font-size: 14px;
  }
  &--sm {
    font-size: 16px;
  }
  &--md {
    font-size: 16px;
  }
  &--lg {
    font-size: 16px;
  }
  &--xl {
    font-size: 18px;
  }
  &--xxl {
    font-size: 18px;
  }
}
