@use "./mixins" as *;
@use "./colors" as *;
@use "./foundation" as *;
@use "./typography" as *;
@use "./storybook";

.d-btn {
  padding: 8px 16px;
  border-radius: 4px;
  @include flex-box(na, na, center, nowrap, 10);
  @include typography(14, "", 500, na);
  border: 1px solid transparent;
  // background-color: transparent;
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
  &--primary {
    background-color: #017bba;
    color: #ffffff;
    &:hover {
      background-color: #3397c5;
    }
  }

  &--secondary {
    border: 1px solid #017bba;
    background-color: #ffffff;
    color: #017bba;
    &:hover {
      background-color: #3397c5;
      color: #ffffff;
      border: 1px solid #3397c5;
    }
  }

  &--tertiary {
    background-color: #ffffff;
    color: #444444;
    font-size: 13px;
    padding: 8px;
    gap: 8px;
    &:hover {
      background-color: #dcdfec;
    }
  }

  // icon button css
  &--secondary-dotted {
    border: 2px dotted #017bba;
    color: #017bba;
    background-color: #ffffff;
  }

  &--circle {
    border-radius: 50px;
    background-color: transparent;
    outline: none;
    border: none;
    @include flex-box(na, center, center, "", "");
    @include typography(12, "", 500, #ffffff);
    &.dotted-circle {
      border: 2px dotted #017bba;
    }
    &.solid-circle {
      border: 1px solid #017bba;
    }
    &.primary-bg-circle {
      background-color: #017bba;
      border: 2px solid #017bba;
    }
    &.danger-bg-cicle {
      background-color: #f65f7c;
    }
    &.light-bg {
      font-weight: 600;
      &--danger {
        background-color: #f4dee4;
        color: #676879;
      }
      &--purple {
        background-color: #e0daee;
        color: #676879;
      }

      &--success {
        background-color: #d6ecf5;
        color: #676879;
      }
      &--primary {
        background-color: #017bba;
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
      }
    }

    &.vs {
      width: 28px;
      height: 28px;
    }
    &.sm {
      width: 32px;
      height: 32px;
    }
    &.md {
      width: 38px;
      height: 38px;
    }
    &.lg {
      width: 42px;
      height: 42px;
    }
    &.xl {
      width: 48px;
      height: 48px;
    }
    &.xxl {
      width: 54px;
      height: 54px;
    }
    &.xxxl {
      width: 80px;
      height: 80px;
    }
  }

  .icon {
    &--cross-vs {
      font-size: 9px;
    }
    &--cross-sm {
      font-size: 10px;
    }
    &--cross-md {
      font-size: 12px;
    }
    &--cross-lg {
      font-size: 13.15px;
    }
    &--cross-xl {
      font-size: 13.15px;
    }
    &--cross-xxl {
      font-size: 15px;
    }

    &--more-vs {
      font-size: 3px;
    }
    &--more-sm {
      font-size: 3px;
    }
    &--more-md {
      font-size: 3px;
    }
    &--more-lg {
      font-size: 3px;
    }
    &--more-xl {
      font-size: 3px;
    }
    &--more-xxl {
      font-size: 4px;
    }

    &--back-vs {
      font-size: 10px;
    }
    &--back-sm {
      font-size: 11px;
    }
    &--back-md {
      font-size: 12px;
    }
    &--back-lg {
      font-size: 13px;
    }
    &--back-xl {
      font-size: 14px;
    }
    &--back-xxl {
      font-size: 15px;
    }

    &--search-vs {
      font-size: 13px;
    }
    &--search-sm {
      font-size: 14px;
    }
    &--search-md {
      font-size: 15px;
    }
    &--search-lg {
      font-size: 16px;
    }
    &--search-xl {
      font-size: 17px;
    }
    &--search-xxl {
      font-size: 18px;
    }


    &--edit-vs {
      font-size: 14px;
    }
    &--edit-sm {
      font-size: 14px;
    }
    &--edit-md {
      font-size: 15px;
    }
    &--edit-lg {
      font-size: 16px;
    }
    &--edit-xl {
      font-size: 19px;
    }
    &--edit-xxl {
      font-size: 20px;
    }


    &--edit-vvs {
      font-size: 17px;
    }
    &--edit-ssm {
      font-size: 19px;
    }
    &--edit-mmd {
      font-size: 20px;
    }
    &--edit-llg {
      font-size: 22px;
    }
    &--edit-xll {
      font-size: 23px;
    }
    &--edit-xxll {
      font-size: 24px;
    }


    &--delete-vs {
      font-size: 14px;
    }
    &--delete-sm {
      font-size: 14px;
    }
    &--delete-md {
      font-size: 15px;
    }
    &--delete-lg {
      font-size: 16px;
    }
    &--delete-xl {
      font-size: 19px;
    }
    &--delete-xxl {
      font-size: 20px;
    }


    &--delete-vvs {
      font-size: 17px;
    }
    &--delete-ssm {
      font-size: 19px;
    }
    &--delete-mmd {
      font-size: 20px;
    }
    &--delete-llg {
      font-size: 22px;
    }
    &--delete-xll {
      font-size: 23px;
    }
    &--delete-xxll {
      font-size: 24px;
    }
  }
}

.add {
  &--vs {
    font-size: 13px;
  }
  &--sm {
    font-size: 15px;
  }
  &--md {
    font-size: 15px;
  }
  &--lg {
    font-size: 15px;
  }
  &--xl {
    font-size: 16px;
  }
  &--xxl {
    font-size: 17px;
  }
}
