@use "./mixins" as *;
@use "./colors" as *;
@use "./foundation" as *;
@use "./typography" as *;
@use "./storybook";

.d-btn {
  padding: 8px 16px;
  border-radius: 4px;
  @include flex-box(na, na, center, nowrap, 10);
  @include typography(14, "", 500, #ffffff);
  border: 1px solid transparent;
  background-color: transparent;
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
  &--primary {
    background-color: #017bba;
    color: #ffffff;
    &:hover {
      background-color: #3397c5;
    }
  }

  &--secondary {
    border: 1px solid #017bba;
    background-color: #ffffff;
    color: #017bba;
    &:hover {
      background-color: #3397c5;
      color: #ffffff;
      border: 1px solid #3397c5;
    }
  }

  &--tertiary {
    background-color: #ffffff;
    color: #4d4d4d;
    &:hover {
      background-color: #f2f3f5;
    }
  }

  // icon button css
  &--secondary-dotted {
    border: 2px dotted #017bba;
    color: #017bba;
  }

  &--circle {
    border-radius: 50px;
    background-color: transparent;
    outline: none;
    border: none;
    @include flex-box(na, center, center, "", "");
    @include typography(12, "", 500, #ffffff);
    &.dotted-circle {
      border: 2px dotted #017bba;
    }
    &.solid-circle {
      border: 1px solid #017bba;
    }
    &.primary-bg-circle {
      background-color: #017bba;
      border: 2px solid #017bba;
    }
    &.danger-bg-cicle {
      background-color: #f65f7c;
    }
    &.light-bg {
      font-weight: 600;
      &--danger {
        background-color: #f4dee4;
        color: #676879;
      }
      &--purple {
        background-color: #e0daee;
        color: #676879;
      }

      &--success {
        background-color: #d6ecf5;
        color: #676879;
      }
    }

    &.vs {
      width: 28px;
      height: 28px;
    }
    &.sm {
      width: 32px;
      height: 32px;
    }
    &.md {
      width: 38px;
      height: 38px;
    }
    &.lg {
      width: 42px;
      height: 42px;
    }
    &.xl {
      width: 48px;
      height: 48px;
    }
    &.xxl {
      width: 54px;
      height: 54px;
    }
  }

  .icon {
    &--vs {
      font-size: 13px;
      width: 12px;
    }
    &--sm {
      font-size: 15px;
      width: 13px;
    }
    &--md {
      width: 15px;
      font-size: 16px;
    }
    &--lg {
      font-size: 18px;
      width: 16px;
    }
    &--xl {
      font-size: 18px;
      width: 16px;
    }
    &--xxl {
      font-size: 21px;
      width: 19px;
    }
  }
}

.add {
  &--vs {
    font-size: 14px;
  }
  &--sm {
    font-size: 16px;
  }
  &--md {
    font-size: 16px;
  }
  &--lg {
    font-size: 16px;
  }
  &--xl {
    font-size: 18px;
  }
  &--xxl {
    font-size: 18px;
  }
}
