@use "./mixins" as *;
@use "./storybook";
@use "./foundation" as *;
@use "./fonts/medium" as *;

.custom-checkbox {
  cursor: pointer;
  padding: 6px $vvs-p;
  margin-right: $vvs-m;
  @include flex-box(na, na, center, na, 8);
  @include typography($fs-medium, na, $font-medium, #676879);

  input[type="checkbox"] {
    display: none;
  }
  &--outer-circle-border {
    border: 1px solid #c3c6d4;
    border-radius: 100px;
  }
  &--outer-rectangle-border {
    border: 1px solid #c3c6d4;
    border-radius: $border-radius-small;
  }
  .checkbox-box {
    border: 1px solid #c3c6d4;
    border-radius: $border-radius-small;
    padding-bottom: 3px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    @include flex-box(na, center, center, na, na);
    @include dimensions(16, 16);
    &--cicle-checkbox {
      border-radius: 50%;
    }
    .checkmark {
      @include dimensions(12, 6);
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      transition: transform 0.2s ease;
      transform: rotate(0) scale(0);
    }
  }

  input[type="checkbox"]:checked ~ .checkbox-box {
    border-color: #007bff;
    background-color: #007bff;
  }

  input[type="checkbox"]:checked ~ .checkbox-box .checkmark {
    transform: rotate(45deg) scale(1);
  }

  &.checkbox-green {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: #1b5e20;
      border-color: #1b5e20;
    }
  }

  &.checkbox-yellow {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: #febe07;
      border-color: #febe07;
    }
  }

  &.checkbox-red {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: #b71c1c;
      border-color: #b71c1c;
    }
  }

  &.checkbox-indigo {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: #4a148c;
      border-color: #4a148c;
    }
  }

  &.checkbox-murrey {
    input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: #880e4f;
      border-color: #880e4f;
    }
  }

  &.checkbox-vs {
    height: 28px;
    .checkbox-box {
      width: 16px;
      height: 16px;

      .checkmark {
        width: 5px;
        height: 9px;
      }
    }
  }

  &.checkbox-sm {
    height: 28px;
    .checkbox-box {
      @include dimensions(18, 18);
      .checkmark {
        @include dimensions(12, 6);
      }
    }
  }

  &.checkbox-md {
    height: 32px;
    .checkbox-box {
      @include dimensions(20, 20);

      .checkmark {
        @include dimensions(14, 7);
      }
    }
  }

  &.checkbox-lg {
    height: 32px;
    .checkbox-box {
      @include dimensions(24, 24);

      .checkmark {
        @include dimensions(16, 8);
      }
    }
  }

  &.checkbox-xl {
    height: 38px;
    .checkbox-box {
      @include dimensions(28, 28);

      .checkmark {
        @include dimensions(20, 10);
      }
    }
  }
}

.building-container-checkbox {
  border: 1px solid #c3c6d4;
  border-radius: $border-radius-small;
  position: relative;
  padding: 28px;
  width: 274px;
  @include flex-box(na, na, center, na, 12);
  @include typography($fs-large, na, $font-bold, #676879);
  span {
    font-size: 44px;
  }
  &:hover {
    background-color: #cce5ff;
    border: 1px soldi #cce5ff;
  }

  label {
    @include absolute(9, 9, na, na);
  }
}

.custom-radio {
  cursor: pointer;
  padding: 6px 8px;
  @include flex-box(na, na, center, na, na);
  @include typography($fs-medium, na, $font-medium, #676879);
  &--outer-circle-border {
    border: 1px solid #c3c6d4;
    border-radius: 100px;
  }
  &--outer-rectangle-border {
    border: 1px solid #c3c6d4;
    border-radius: $border-radius-small;
  }

  input[type="radio"] {
    display: none;
  }

  .radio-box {
    border: 1px solid #c3c6d4;
    border-radius: 50%;
    margin-right: 8px;
    transition: border-color 0.3s ease;
    @include flex-box(na, center, center, na, na);
    @include dimensions(20, 20);
  }

  .radio-dot {
    @include dimensions(12, 12);
    background-color: #007bff;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease;
  }

  input[type="radio"]:checked ~ .radio-box .radio-dot {
    transform: scale(1);
  }

  input[type="radio"]:checked ~ .radio-box {
    border-color: #007bff;
  }

  &.radio-vs {
    height: 28px;
    .radio-box {
      @include dimensions(16, 16);
      .radio-dot {
        @include dimensions(8, 8);
      }
    }
  }

  &.radio-sm {
    height: 28px;
    .radio-box {
      @include dimensions(18, 18);

      .radio-dot {
        @include dimensions(10, 10);
      }
    }
  }

  &.radio-md {
    height: 32px;
    .radio-box {
      @include dimensions(20, 20);

      .radio-dot {
        @include dimensions(10, 10);
      }
    }
  }
  &.radio-lg {
    height: 32px;
    .radio-box {
      @include dimensions(22, 22);
      .radio-dot {
        @include dimensions(12, 12);
      }
    }
  }

  &.radio-xl {
    height: 38px;
    .radio-box {
      @include dimensions(24, 24);

      .radio-dot {
        @include dimensions(14, 14);
      }
    }
  }
}

.switchBox {
  @include typography($fs-medium,na,$font-medium,#676879);
  @include flex-box(na,na,center,na,4);
  .switch {
    position: relative;
    display: inline-block;
    @include dimensions(14, 24);

    input {
      display: none;
    }

    .slider {
      cursor: pointer;
      background-color: #a3adba;
      transition: 0.4s;
      border-radius: 100px;
      @include absolute(0,0,0,0);

      &::before {
        content: "";
        background-color: white;
        transition: 0.4s;
        border-radius: 100px;
        @include dimensions(10,10);
        @include absolute(na,na,2,2);
      }
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:checked + .slider::before {
      transform: translateX(10px);
    }
  }
}

.datetime {
  padding: 12px;
  border: 1px solid #c3c6d4;
  border-radius: $border-radius-small;

  &:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
}

.flatpickr-calendar {
  color: #202020;
}

.switchBox {
  @include flex-box(na, na, center, na, 4);
  @include typography($fs-medium, na, $font-medium, #676879);
  .switch {
    position: relative;
    display: inline-block;
    @include dimensions(14, 24);
    input {
      display: none;
    }

    .slider {
      cursor: pointer;
      background-color: #a3adba;
      transition: 0.4s;
      border-radius: 100px;
      @include absolute(0, 0, 0, 0);
      &::before {
        content: "";
        background-color: white;
        transition: 0.4s;
        border-radius: 100px;
        @include dimensions(10, 10);
        @include absolute(na, na, 2, 2);
      }
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:checked + .slider::before {
      transform: translateX(10px);
    }
  }
}

.calendar {
  width: 310px;
  box-shadow: 0 24px 38px 3px #00000024;
  font-family: sans-serif;

  .calendar-header {
    background: #017bba;
    color: white;
    padding: 16px 24px;
    .calendar-year {
      margin: 0;
      margin-bottom: 4px;
      @include typography($fs-large, na, $font-regular, #ffffff8a);
    }
    h2 {
      margin: 0;
      @include typography($fs-primary, $lh-primary, $font-bolder, #ffffff);
    }
  }

  .calendar-controls {
    padding: 10px;
    height: 60px;
    @include flex-box(na, space-between, center, na, na);
    button {
      background-color: transparent;
      border: none;
    }

    .curMonth {
      @include typography($fs-xl, na, $font-bolder, #202020);
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px;

    .calendar-day {
      padding: 12px 8px;
      border: none;
      background: none;
      font-weight: light;
      &.selected {
        background-color: #007ac2;
        color: white;
        border-radius: 50%;
      }
    }

    .day-name {
      margin-bottom: 4px;
      @include typography(11, 13, $font-bolder, #00000061);
    }
  }

  .calendar-actions {
    padding: 16px 20px;
    @include flex-box(na, end, na, na, 24);
    button {
      background-color: transparent;
      border: none;
      @include typography($fs-large, na, $font-bolder, #017bba);
    }
  }
}
