
@use "./mixins" as *;
@use "./foundation" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 16px;
    border-bottom: 0;
    .logo {
      color: #202020;
      font-size: 18px;
      font-weight: 800;
    }
  }

  .content-wrapper {
    width: 100%;
    display: flex;
    height: 80vh;
    .sidebar {
      width: 150px;
      padding: 16px;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      border-right: 0;
    }
    .main-content {
      width: 100%;
      padding: 16px;
      display: flex;
      gap: 16px;
      flex-direction: column;
      border: 1px solid black;
      .subheader {
        border: 1px solid black;
        height: 60px;
      }
      .grid-layout {
        border: 1px solid black;
        height: 63vh;
      }
      .table-layout {
        height: 63vh;
        width: 100%;
        border: 1px solid black;
        th {
          border: 1px solid black;
          height: 50px;
          padding: 12px;
        }
        td {
          border: 1px solid black;
          padding: 12px;
        }
      }
      .footer {
        border: 1px solid black;
        height: 30px;
      }
    }
  }
}

.pdf-wrapper {
  width: 1278px;
  height: 673px;
  border-radius: 18px;
  background-color: #ffffff;
  margin: auto;

  .pdf-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    // background-color: #f2f2f2;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom: 1px solid #dbdbde;
    height: 68px;
    .left {
      font-size: 20px;
      font-weight: 500;
      color: #262626;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 5px;
      .refresh-div {
        display: flex;
        align-items: center;
        gap: 8px;
        p {
          font-size: 13px;
          font-weight: 500;
          color: $secondary-text-color;
        }

        .d-btn {
          padding: 0;
          &:hover {
            background-color: transparent;
          }
        }
      }

      .line-div {
        height: 32px;
        width: 1px;
        background-color: #dbdbde;
        margin: 0 8px;
      }

      .dropdown .dropdown-toggle::after {
        content: "";
        display: none;
      }
      .dropdown .dropdown-menu.show ul li .dropdown-item {
        span {
          &::before {
            color: #a3adba;
          }
        }
        .drop {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
  .pdf-body {
    height: 568px;
    padding: 18px;
    background-color: #ffffff;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
}

.recent-container {
  position: relative;
  width: 100%;
  height: 800px;
  .overley-colored-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      #f1eaec 0%,
      #f7e1f8 10%,
      #ebeeff 20%,
      #f4f5f6 30%,
      #f4f5f6 100%
    );
    z-index: -1;
  }
  .recent-upper-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: transparent;
    .txt-div {
      width: 55%;
      h4 {
        font-size: 20px;
        font-weight: 700;
        color: #172b4d;
        margin: 0;
        margin-bottom: 10px;
      }

      p {
        font-size: 13px;
        font-weight: 400;
        color: #444444;
        margin: 0;
      }
    }

    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  .recent-bottom-container {
    width: 100%;
    height: calc(100% - 135px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img-txt-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img {
        width: fit-content;
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4 {
          font-size: 20px;
          font-weight: 700;
          color: #172b4d;
          margin: 0;
          margin-top: 21px;
          margin-bottom: 10px;
        }

        p {
          font-size: 13px;
          font-weight: 400;
          color: #444444;
          margin: 0;
          margin-bottom: 20px;
          width: 80%;
          text-align: center;
        }

        button {
          background-color: #0073ea;
          width: 116px;
          padding: 0;
          position: relative;
          overflow: hidden;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          p {
            margin: 0;
            font-size: 13px;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
            transition: transform 0.5s ease;
          }

          &::after {
            content: "\e900"; // IcoMoon icon code
            font-family: "IcoMoon";
            font-size: 12px;
            color: #ffffff;
            position: absolute;
            right: 0;
            opacity: 0;
            transform: translateX(-20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
          }

          &:hover {
            &::after {
              opacity: 1;
              transform: translateX(-8px);
            }

            p {
              transform: translateX(-10px);
            }
          }
        }
      }
    }
  }
}

.reports-container {
  background-color: #f1f1f1;

  .upper-report {
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
    .breadcrumb-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 38px;
      padding: 0 16px;
      border-bottom: 1px solid #d0d4e4;
      .breadcumb {
        display: flex;
        align-items: center;
        gap: 8px;
        .bread {
          display: flex;
          align-items: center;
          gap: 4px;
          height: 32px;
          p {
            font-size: 12px;
            font-weight: 500;
            color: $secondary-text-color;
            margin: 0;
          }
        }
        .vertical-line {
          width: 1px;
          height: 17px;
          background-color: $secondary-text-color;
          transform: rotate(20deg);
        }
      }

      .arrow {
        .d-btn {
          span {
            &::before {
              color: $secondary-text-color;
              transform: rotate(180deg);
            }
          }

          .up-down {
            transform: rotate(180deg);
          }
        }
      }
    }

    .reports-section {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      .report-heading {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        margin: 0;
      }
    }
  }
  .overview-section {
    height: 38px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .overview-left {
      display: flex;
      align-items: center;

      .overview {
        padding: 0 0 0 11px;
        border-bottom: 2px solid #0073ea;
        display: flex;
        align-items: center;
        height: 38px;
        .overview-text {
          width: 75px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 500;
          color: #000000;
          margin: 0;
        }
        .cross-iconHover {
          display: none;
          flex-shrink: 0;
          background-color: transparent;
          padding: 0;
          height: 22px;
          .md {
            height: 0;
          }
        }

        &:hover {
          .overview-text {
            width: 50px;
          }
          .cross-iconHover {
            display: inline;
            .md {
              height: 0;
            }
          }
        }
      }
    }
  }

  .executive-container {
    padding: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .img-container {
      border: 1px solid #d0d4e4;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

