@use "./mixins" as *;
@use "./foundation" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;

.wrapper {
  width: 100%;
  @include flex-box(column, na, na, na, na);
  .header {
    width: 100%;
    border: 1px solid black;
    height: 80px;
    padding: $small-p;
    border-bottom: 0;
    @include flex-box(na, space-between, center, na, na);

    .logo {
      @include typography($fs-xxl, na, $font-extra-bold, $primary-text-color);
    }
  }

  .content-wrapper {
    width: 100%;
    display: flex;
    height: 80vh;
    .sidebar {
      width: 150px;
      padding: $small-p;
      border: 1px solid black;
      border-right: 0;
      @include flex-box(column, space-between, center, na, na);
    }
    .main-content {
      width: 100%;
      padding: $small-p;
      border: 1px solid black;
      @include flex-box(column, na, na, na, 16);

      .subheader {
        border: 1px solid black;
        height: 60px;
      }
      .grid-layout {
        border: 1px solid black;
        height: 63vh;
      }
      .table-layout {
        height: 63vh;
        width: 100%;
        border: 1px solid black;
        th {
          border: 1px solid black;
          height: 50px;
          padding: $vs-p;
        }
        td {
          border: 1px solid black;
          padding: $vs-p;
        }
      }
      .footer {
        border: 1px solid black;
        height: 30px;
      }
    }
  }
}

.pdf-wrapper {
  @include dimensions(673, 1278);
  border-radius: $border-radius-large;
  background-color: $primary-background-color;
  margin: auto;

  .pdf-header {
    padding: $small-p;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    border-bottom: 1px solid $layout-border-color;
    height: 68px;
    @include flex-box(na, space-between, center, na, na);
    .left {
      @include typography($fs-forth, na, $font-medium, $primary-text-color);
    }

    .right {
      @include flex-box(na, end, center, na, 5);

      .refresh-div {
        @include flex-box(na, na, center, na, 8);

        p {
          @include typography(
            $fs-medium,
            na,
            $font-medium,
            $secondary-text-color
          );
        }

        .d-btn {
          padding: $zero-p;
          &:hover {
            background-color: transparent;
          }
        }
      }

      .line-div {
        @include dimensions(32, 1);
        background-color: $layout-border-color;
        margin: $zero-m $vvs-m;
      }

      .dropdown .dropdown-toggle::after {
        content: "";
        display: none;
      }
      .dropdown .dropdown-menu.show ul li .dropdown-item {
        span {
          &::before {
            color: #a3adba;
          }
        }
        .drop {
          @include flex-box(na, na, center, na, 8);
        }
      }
    }
  }
  .pdf-body {
    height: 568px;
    padding: $small-p;
    background-color: $primary-background-color;
    border-bottom-left-radius: $border-radius-large;
    border-bottom-right-radius: $border-radius-large;
  }
}

.recent-container {
  position: relative;
  width: 100%;
  height: 800px;
  .overley-colored-container {
    background: linear-gradient(
      to bottom,
      #f1eaec 0%,
      #f7e1f8 10%,
      #ebeeff 20%,
      #f4f5f6 30%,
      #f4f5f6 100%
    );
    z-index: -1;
    @include absolute(0, 0, 0, 0);
  }
  .recent-upper-container {
    padding: $medium-p $small-p;
    background-color: transparent;
    @include flex-box(na, space-between, start, na, na);
    .txt-div {
      width: 55%;
      h4 {
        @include typography($fs-forth, na, $font-bolder, $primary-text-color);
        margin: $zero-m;
        margin-bottom: $vvs-m;
      }

      p {
        margin: $zero-m;
        @include typography(
          $fs-medium,
          na,
          $font-regular,
          $secondary-text-color
        );
      }
    }

    .close-btn {
      @include absolute(20px, 20px, 0, 0);
    }
  }

  .recent-bottom-container {
    width: 100%;
    height: calc(100% - 135px);
    @include flex-box(column, center, center, na, na);

    .img-txt-container {
      @include flex-box(column, na, center, na, na);

      .img {
        width: fit-content;
      }

      .text {
        @include flex-box(column, center, center, na, na);

        h4 {
          @include typography($fs-forth, na, $font-bolder, $primary-text-color);
          margin: $zero-m;
          margin-top: $medium-m;
          margin-bottom: $vvs-m;
        }

        p {
          margin: $zero-m;
          @include typography(
            $fs-medium,
            na,
            $font-regular,
            $secondary-text-color
          );
          margin-bottom: $medium-m;
          width: 80%;
          text-align: center;
        }

        button {
          width: 116px;
          padding: $zero-p;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          @include flex-box(na, center, center, na, na);

          p {
            margin: $zero-m;
            text-align: center;
            transition: transform 0.5s ease;
            @include typography(
              $fs-medium,
              na,
              $font-regular,
              $text-color-on-primary
            );
          }

          &::after {
            content: "\e900"; // IcoMoon icon code
            font-family: "IcoMoon";
            font-size: $fs-small;
            color: $fixed-light-color;
            opacity: 0;
            @include absolute(na, 0, na, na);
            transform: translateX(-20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
          }

          &:hover {
            &::after {
              opacity: 1;
              transform: translateX(-8px);
            }

            p {
              transform: translateX(-10px);
            }
          }
        }
      }
    }
  }
}

.reports-container {
  background-color: $secondary-background-color;

  .upper-report {
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
    .breadcrumb-section {
      height: 38px;
      padding: $zero-p $small-p;
      @include flex-box(na, space-between, center, na, na);
      border-bottom: 1px solid #d0d4e4;
      .breadcumb {
        @include flex-box(na, na, center, na, 8);

        .bread {
          height: 32px;
          @include flex-box(na, na, center, na, 4);

          p {
            margin: $zero-m;
            @include typography(
              $fs-small,
              na,
              $font-medium,
              $secondary-text-color
            );
          }
        }
        .vertical-line {
          @include dimensions(17, 1);
          background-color: $secondary-text-color;
          transform: rotate(20deg);
        }
      }

      .arrow {
        .d-btn {
          span {
            &::before {
              color: $secondary-text-color;
              transform: rotate(180deg);
            }
          }

          .up-down {
            transform: rotate(180deg);
          }
        }
      }
    }

    .reports-section {
      @include flex-box(na, na, center, na, 8);
      padding: $vvs-p $small-p;
      .report-heading {
        @include typography($fs-forth, na, $font-bold, $primary-text-color);
        margin: $zero-m;
      }
    }
  }
  .overview-section {
    height: 38px;
    padding: $vvs-p $small-p;
    background-color: $primary-background-color;
    @include flex-box(na, space-between, center, na, na);

    .overview-left {
      @include flex-box(na, na, center, na, na);

      .overview {
        padding-left: $vvs-p;
        border-bottom: 2px solid transparent;
        height: 38px;
        @include flex-box(na, na, center, na, na);

        .overview-text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: all .5s ease;
          @include typography(
            $fs-large,
            na,
            $font-medium,
            $secondary-text-color
          );
          margin: $zero-m;
        }
        .cross-iconHover {
          display: none;
          flex-shrink: 0;
          background-color: transparent;
          padding: $zero-p;
          height: 22px;
          transition: all .5s ease;
          .md {
            height: 0;
          }
        }

        &:hover {
          border-color: $primary-color;
          .overview-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 50px;
            @include typography(
              $fs-large,
              na,
              $font-medium,
              $primary-text-color
            );
          }
          .cross-iconHover {
            display: inline;
            .md {
              height: 0;
            }
          }
        }
      }
    }
  }

  .executive-container {
    padding: $small-p;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .img-container {
      border: 1px solid #d0d4e4;
      border-radius: $border-radius-medium;
      width: 100%;
      height: 100%;
      img {
        border-radius: $border-radius-medium;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
