.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 16px;
    border-bottom: 0;
    .logo {
      color: #202020;
      font-size: 18px;
      font-weight: 800;
    }
  }

  .content-wrapper {
    width: 100%;
    display: flex;
    height: 80vh;
    .sidebar {
      width: 150px;
      padding: 16px;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      border-right: 0;
    }
    .main-content {
      width: 100%;
      padding: 16px;
      display: flex;
      gap: 16px;
      flex-direction: column;
      border: 1px solid black;
      .subheader {
        border: 1px solid black;
        height: 60px;
      }
      .grid-layout {
        border: 1px solid black;
        height: 63vh;
      }
      .table-layout {
        height: 63vh;
        width: 100%;
        border: 1px solid black;
        th{
          border: 1px solid black;
          height: 50px;
          padding: 12px;
        }
        td {
          border: 1px solid black;
          padding: 12px;

        }
      }
      .footer {
        border: 1px solid black;
        height: 30px;
      }
    }
  }
}
