@use "./mixins" as *;
@use "./foundation" as *;
@use "./fonts/medium" as *;
.navbar-container {
  width: 48px;
  height: 100vh;
  padding: 8px 4px;
  @include flex-box(column, space-between, center, na, na);
  border-right: 1px solid #d0d4e4;
  .upper-icons {
    @include flex-box(column, na, na, na, 4);
  }
  .icon-div {
    border-radius: $border-radius-medium;
    @include dimensions(38, 38);
    @include flex-box(na, center, center, na, 8);
    background-color: #ffffff;
    &:active {
      background-color: #cce5ff;
      .icon{
        fill: blue;
      }
    }
    &:hover {
      background-color: #dcdfec;
      span{
        color: #323238;
      }
    }

    span{
      font-size: $fs-tertiary;
      color: #344563;
    }
  }
}
