@use "./mixins" as *;
@use "./foundation" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;
.pagination-wrapper {
  // border: 1px solid #53585B;
  border-radius: 4px;
  background-color: #f1f2f4;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;

  .left-pgtn {
    display: flex;
    align-items: center;
    gap: 4px;
    p {
      font-size: 14px;
      font-weight: 500;
      color: #53585b;
    }
  }
  // .pagination {
  //   .d-btn {
  //     p {
  //       font-size: 13px;
  //       font-weight: 500;
  //       color: $secondary-text-color;
  //     }
  //     span {
  //       font-size: 2px;
  //     }
  //   }
  //   .text {
  //     font-size: 12px;
  //     font-weight: 500;
  //     color: #53585b;
  //   }
  // }
}

.pagination {
  @include flex-box(na, na, center, na, 8);
  height: 28px;
  // margin: 12px 16px;
  // background-color: #f1f2f4;
  // margin-top: 12px;
  .d-btn {
    border: 1px solid #c3c6d4;
    gap: 8px;
    p {
      font-size: 13px;
      font-weight: 500;
      color: $secondary-text-color;
    }
    span {
      font-size: 8px;
    }
  }
  .text {
    // color: $secondary-text-color;
    font-size: 12px;
    font-weight: 500;
    color: #53585b;
  }

  .pagination-svg {
    @include flex-box(na, center, center, na, 12);
    .page {
      @include typography(12, na, 600, #53585b);
      @include dimensions(26, 26);
      @include flex-box(na, center, center, na, na);

      &.active {
        padding: 10px;
        border-radius: 4px;
        background-color: #007db7;
        color: #ffffff;
      }
    }
    .page-svg {
      @include dimensions(18, 18);
      font-size: 11px;
      @include flex-box(na, center, center, na, na);
    }
  }
}
