@use "./mixins" as *;

.offcanvas {
  .offcanvas-header {
    background-color: #f1f2f4;
    border-bottom: 1px solid hsl(180, 2%, 87%);
    padding: 10px 20px;
    @include flex-box(na, space-between, center, na, na);
    .offcanvas-title {
      @include typography(18, 26, 700, #202020);
    }

    .selected-btn {
      @include flex-box(na, end, center, na, 6);
    }
    .btn-close {
      box-shadow: none;
      background-color: #eeeeef;
      margin: 0;
    }
  }

  .offcanvas-body {
    padding: 12px 16px;

    .side-item-container {
      margin-top: 16px;
      @include flex-box(column, na, na, na, 18);
      .side-item-list {
        @include flex-box(na, na, center, na, 8);

        .custom-checkbox {
          margin: 0;
          padding: 0;
        }
        p {
          @include typography(13, na, 500, #4d4d4d);
        }
      }
    }
  }

  .offcanvas-footer {
    padding: 18px 20px;
    border-top: 1px solid #dedfdf;
    @include flex-box(na, end, center, na, 8);

    &.d-none {
      display: none;
    }
  }
}
