@use "./mixins" as *;
@use "./foundation" as *;


.stepper {
  @include flex-box(na,space-between,center,na,na);
  .step {
    @include flex-box(column,space-between,center,na,na);
    .circle {
      border-radius: 100px;
      border: 1px solid #D0D4E4;
      background-color: white;
      transition: all 0.3s ease;
      margin-top: $vvs-m;
      @include dimensions(38,38);
      @include flex-box(na,center,center,na,na);
      @include typography(16,na,700,#676879);
     
      &.active {
        background-color: #007bff;
        color: white;
        position: relative;
        margin-top: 0;
         @include dimensions(54,54);
        &::before{
          content:"";
          border: 5px solid white;
           @include dimensions(48,48);
          border-radius: 100px;
          position: absolute;
        }
      }

      &.completed {
        border-color: #28a745;
        background-color: #28a745;
        color: white;
      }
    }

    .label {
      @include typography(13,na,500,#676879);
      background-color: #ffffff;
      margin-top: 8px;
    }
  }

  .line {
    height: 1px;
    width: 66px;
    background-color:#D0D4E4;
    margin-top: -20px;
  }
}
