@use "./mixins" as *;
@use "./foundation" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;
.stepper {
  @include flex-box(na,space-between,center,na,na);
  .step {
    @include flex-box(column,space-between,center,na,na);
    .circle {
      border-radius: 100px;
      border: 1px solid $layout-border-color;
      background-color: $primary-background-color;
      transition: all 0.3s ease;
      @include flex-box(na,center,center,na,na);
      @include typography(16,na,700,$secondary-text-color);
      @include dimensions(54,54);
     
      &.active {
        background-color: $primary-color;
        color: $fixed-light-color;
        position: relative;
        margin-top: 0;
        &::before{
          content:"";
          border: 5px solid $fixed-light-color;
           @include dimensions(48,48);
          border-radius: 100px;
          position: absolute;
        }
      }

      &.completed {
        border-color: $positive-color;
        background-color: $positive-color;
        color: $fixed-light-color;
      }
    }

    .label {
      @include typography(13,na,$font-medium,$secondary-text-color);
      background-color: $primary-background-color;
      margin-top: 8px;
    }
  }

  .line {
    @include dimensions(1,66);
    background-color:$layout-border-color;
    margin-top: -20px;
  }
}
