@use "./mixins" as *;

.outer-container {
  @include flex-box(column, na, na, na, 48);
}

.heading {
  h1 {
    margin: 0;
    @include typography(28, 42, 800, #323238);
  }
  .line {
    height: 2px;
    background-color: #d0d4e4;
    width: 100%;
  }
  h2 {
    margin: 0;
    margin-top: 32px;
    @include typography(24, 30, 300, #323238);
  }
  p {
    margin: 0;
    margin-top: 12px;
    @include typography(16, 24, 400, #676879);
  }
}

.containers {
  border: 1px solid #d0d4e4;
  padding: 32px;
  display: flex;
  gap: 20px;
  border-radius: 8px;
}
