@use "./storybook";
@use "./mixins" as *;

.inner-container {
  border: 1px solid #d0d4e4;
  padding: 32px;
  border-radius: 8px;
  @include flex-box(column, "", "", "", 20);
  .color-foundation {
    @include flex-box("", "", "", "", 14);
    .color {
      @include dimensions(40, 40);
      &--primary {
        background-color: #017bba;
      }
      &--primary-hover {
        background-color: #3397c5;
      }
      &--primary-selected {
        background-color: #b3d8e9;
      }
      &--primary-selected-hover {
        background-color: #80bedb;
      }
      &--positive {
        background-color: #219c4b;
      }
      &--positive-hover {
        background-color: #089137;
      }
      &--positive-selected {
        background-color: #84c89b;
      }
      &--positive-selected-hover {
        background-color: #b5dec3;
      }
      &--negative {
        background-color: #d72300;
      }
      &--negative-hover {
        background-color: #c22000;
      }
      &--negative-selected {
        background-color: #f3bdb3;
      }
      &--negative-selected-hover {
        background-color: #efa799;
      }
      &--warning {
        background-color: #ffcb00;
      }
      &--warning-hover {
        background-color: #eaaa15;
      }
      &--warning-selected {
        background-color: #fee6b9;
      }
      &--warning-selected-hover {
        background-color: #fddea1;
      }
      &--private {
        background-color: #f65f7c;
      }
      &--shareable {
        background-color: #8f5b8b;
      }
      &--inverted-background {
        background-color: #060606;
      }
      &--icon {
        background-color: #363636;
      }
      &--fixed-dark {
        background-color: #1a1a1a;
      }
      &--primary-background {
        background-color: #ffffff;
        border: 1px solid #c3c6d4;
      }
      &--secondary-background {
        background-color: #f2f3f5;
      }
      &--primary-background-hover {
        background-color: #e6f2f8;
      }
      &--inverted-background {
        background-color: #060606;
      }
      &--grey-background {
        background-color: #eeeeef;
      }
      &--primary-text {
        background-color: #202020;
      }
      &--secondary-text {
        background-color: #4d4d4d;
      }
      &--secondary-text-on-secondary {
        background-color: #ffffff;
        border: 1px solid #c3c6d4;
      }
      &--text-color-on-inverted {
        background-color: #ffffff;
        border: 1px solid #c3c6d4;
      }
      &--text-color-on-primary {
        background-color: #ffffff;
        border: 1px solid #c3c6d4;
      }
      &--disabled-text {
        background-color: #989b9d;
      }

      &--placeholder {
        background-color: #cbcdce;
      }

      &--link {
        background-color: #1a8abe;
      }

      &--ui-border {
        background-color: #dddede;
      }

      &--layout-border {
        background-color: #cbcdce;
      }
    }

    .color-text {
      h5 {
        margin: 0;
        @include typography(20, "", 500, #323238);
      }
      p {
        margin: 0;
        @include typography(14, "", 400, #676879);
        span {
          @include typography(14, "", 500, #323238);
        }
      }
    }
  }
}

.second-container {
  .heading {
    h2 {
      margin: 0;
      margin-bottom: 30px;
      @include typography(24, "", 300, #323238);
    }
  }
}

.margin-padding-outer {
  .heading {
    h2 {
      margin: 0;
      margin-bottom: 30px;
      @include typography(24, "", 300, #323238);
    }
  }

  .containers {
    @include flex-box(row, "", end, wrap, "");
    .margin-padding-container {
      @include flex-box(column, "", "", "", "");
      .margin {
        width: 100px;
        background-color: #f4c3cb;
        &--ml-1 {
          height: 1px;
        }
        &--ml-2 {
          height: 2px;
        }
        &--ml-4 {
          height: 4px;
        }
        &--ml-8 {
          height: 8px;
        }
        &--ml-12 {
          height: 12px;
        }
        &--ml-16 {
          height: 16px;
        }
        &--ml-20 {
          height: 20px;
        }
        &--ml-24 {
          height: 24px;
        }
        &--ml-32 {
          height: 32px;
        }
        &--ml-40 {
          height: 40px;
        }
        &--ml-46 {
          height: 46px;
        }
        &--ml-48 {
          height: 48px;
        }
        &--ml-64 {
          height: 64px;
        }
        &--ml-80 {
          height: 80px;
        }
      }

      .box-txt {
        p {
          margin: 0;
          margin-top: 4px;
          @include typography(14, "", 400, #676879);
        }
      }
    }
  }
}

.border-container {
  @include flex-box("", "", "", "", 60);
  .border-div {
    @include flex-box(column, "", "", "", 12);
    .border {
      border: 2px solid #d83a52;
      background-color: transparent;
      box-sizing: border-box;
      @include dimensions(200, 200);
      @include flex-box("", center, center, "", "");
      @include typography(18, "", 700, #323238);
      &--small {
        border-radius: 4px;
      }
      &--medium {
        border-radius: 8px;
      }
      &--large {
        border-radius: 16px;
      }
    }

    .shadow {
      @include dimensions(200, 200);
      box-sizing: border-box;
      padding: 43px 34px;
      border-radius: 4px;

      .shadow-header {
        border-bottom: 1px solid #dddede;
        padding-bottom: 4px;
        @include typography(12, "", 500, #202020);
      }

      .x-axis {
        margin-top: 12px;
        margin-bottom: 16px;
        @include flex-box("", space-between, center, "", "");
        p {
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          color: #4d4d4d;
          @include typography(12, "", 400, #4d4d4d);
          span {
            @include typography(12, "", 400, #202020);
          }
        }
      }

      &--small {
        box-shadow: 0 3px 8px 0 #00000033;
      }
      &--medium {
        box-shadow: 0 6px 20px 0 #00000033;
      }
      &--large {
        box-shadow: 0 15px 50px 0 #00000033;
      }
    }

    .border-text {
      span {
        @include typography(14, "", 500, #323238);
      }
      p {
        margin: 0;
        @include typography(14, "", 400, #676879);
      }
    }
  }
}

.tabs-container {
  .tab-buttons {
    margin-bottom: 46px;
    @include flex-box("", space-between, "", "", "");
    button {
      padding: 14px 141px;
      border: none;
      background: transparent;
      cursor: pointer;
      text-wrap: nowrap;
      border-bottom: 3px solid #d9d9d9;
      @include typography(18, "", 400, #676879);
      &.active {
        border-bottom: 3px solid #017bba;
        @include typography(18, "", 600, #323238);
      }
    }
  }

  .tab-content {
    padding: 28px;
    border: 1px solid #d0d4e4;
    background: #ffffff;
    border-radius: 16px;

    .typography-grid {
      display: grid;
      grid-template-columns: 150px 250px 250px auto;
      row-gap: 36px;
      align-items: start;
      padding: 24px;

      .class-name {
        padding: 0 30px;
        @include typography(14, "", 400, #676879);
      }

      .description {
        p {
          margin: 0;
          @include typography(14, "", 400, #676879);
        }
      }
    }

    // laptop
    .heading-laptop {
      color: #323238;

      .primary-heading {
        @include typography(28, "", 800, "");
      }
      .secondary-heading {
        @include typography(20, "", 700, "");
      }
      .tertiary-heading {
        @include typography(16, "", 300, "");
      }
      .fourth-heading {
        @include typography(18, "", 700, "");
      }
      .subtitle-1 {
        @include typography(15, "", 700, "");
      }
      .subtitle-2 {
        @include typography(13, "", 500, "");
      }
      .normal-text {
        @include typography(12, "", 400, "");
      }
      .link-text {
        @include typography(13, "", 500, "");
      }
      .common-btn {
        @include typography(14, "", 500, "");
      }
      .label {
        @include typography(13, "", 500, "");
      }
      .caption {
        @include typography(12, "", 500, "");
      }
    }

    //   tablet
    .heading-tablet {
      color: #323238;

      .primary-heading {
        @include typography(20, "", 800, "");
      }
      .secondary-heading {
        @include typography(13, "", 700, "");
      }
      .tertiary-heading {
        @include typography(13, "", 300, "");
      }
      .fourth-heading {
        @include typography(14, "", 700, "");
      }
      .subtitle-1 {
        @include typography(12, "", 700, "");
      }
      .subtitle-2 {
        @include typography(13, "", 500, "");
      }
      .normal-text {
        @include typography(12, "", 400, "");
      }
      .link-text {
        @include typography(13, "", 500, "");
      }
      .common-btn {
        @include typography(14, "", 500, "");
      }
      label {
        @include typography(13, "", 500, "");
      }
      .caption {
        @include typography(12, "", 500, "");
      }
    }

    //   mobile
    .heading-mobile {
      color: #323238;

      .primary-heading {
        @include typography(16, "", 800, "");
      }
      .secondary-heading {
        @include typography(14, "", 700, "");
      }
      .tertiary-heading {
        @include typography(13, "", 300, "");
      }
      .fourth-heading {
        @include typography(14, "", 700, "");
      }
      .subtitle-1 {
        @include typography(12, "", 700, "");
      }
      .subtitle-2 {
        @include typography(12, "", 500, "");
      }
      .normal-text {
        @include typography(11, "", 400, "");
      }
      .link-text {
        @include typography(12, "", 500, "");
      }
      .common-btn {
        @include typography(13, "", 500, "");
      }
      .label {
        @include typography(12, "", 500, "");
      }
      .caption {
        @include typography(10, "", 500, "");
      }
    }
  }
}

.label {
  border-radius: 4px;
  padding: 4px;
  background-color: #eeeeef;
  font-size: 13px;
  font-weight: 500;
  color: #4d4d4d;
  height: 23px;
  display: flex;
  align-items: center;
}
