@use "./storybook";
@use "./mixins" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;
@use "./foundation" as *;

.inner-container {
  border: 1px solid #d0d4e4;
  padding: 32px;
  border-radius: $border-radius-medium;
  @include flex-box(column, na, na, na, 20);
  .color-foundation {
    @include flex-box(na, na, na, na, 14);
    .color {
      @include dimensions(40, 40);
      &--primary {
        background-color: #017bba;
      }
      &--primary-hover {
        background-color: #3397c5;
      }
      &--primary-selected {
        background-color: #b3d8e9;
      }
      &--primary-selected-hover {
        background-color: #80bedb;
      }
      &--positive {
        background-color: #219c4b;
      }
      &--positive-hover {
        background-color: #089137;
      }
      &--positive-selected {
        background-color: #84c89b;
      }
      &--positive-selected-hover {
        background-color: #b5dec3;
      }
      &--negative {
        background-color: #d72300;
      }
      &--negative-hover {
        background-color: #c22000;
      }
      &--negative-selected {
        background-color: #f3bdb3;
      }
      &--negative-selected-hover {
        background-color: #efa799;
      }
      &--warning {
        background-color: #ffcb00;
      }
      &--warning-hover {
        background-color: #eaaa15;
      }
      &--warning-selected {
        background-color: #fee6b9;
      }
      &--warning-selected-hover {
        background-color: #fddea1;
      }
      &--private {
        background-color: #f65f7c;
      }
      &--shareable {
        background-color: #8f5b8b;
      }
      &--inverted-background {
        background-color: #060606;
      }
      &--icon {
        background-color: #363636;
      }
      &--fixed-dark {
        background-color: #1a1a1a;
      }
      &--primary-background {
        background-color: #ffffff;
        border: 1px solid #c3c6d4;
      }
      &--secondary-background {
        background-color: #f2f3f5;
      }
      &--primary-background-hover {
        background-color: #e6f2f8;
      }
      &--inverted-background {
        background-color: #060606;
      }
      &--grey-background {
        background-color: #eeeeef;
      }
      &--primary-text {
        background-color: #202020;
      }
      &--secondary-text {
        background-color: #4d4d4d;
      }
      &--secondary-text-on-secondary {
        background-color: #ffffff;
        border: 1px solid #c3c6d4;
      }
      &--text-color-on-inverted {
        background-color: #ffffff;
        border: 1px solid #c3c6d4;
      }
      &--text-color-on-primary {
        background-color: #ffffff;
        border: 1px solid #c3c6d4;
      }
      &--disabled-text {
        background-color: #989b9d;
      }

      &--placeholder {
        background-color: #cbcdce;
      }

      &--link {
        background-color: #1a8abe;
      }

      &--ui-border {
        background-color: #dddede;
      }

      &--layout-border {
        background-color: #cbcdce;
      }
    }

    .color-text {
      h5 {
        margin: 0;
        @include typography($fs-forth, na, $font-medium, #323238);
      }
      p {
        margin: 0;
        @include typography($fs-large, na, $font-regular, #676879);
        span {
          @include typography($fs-large, na, $font-medium, #323238);
        }
      }
    }
  }
}

.second-container {
  .heading {
    h2 {
      margin: 0;
      margin-bottom: 30px;
      @include typography(24, na, $font-light, #323238);
    }
  }
}

.margin-padding-outer {
  .heading {
    h2 {
      margin: 0;
      margin-bottom: 30px;
      @include typography(24, na, $font-light, #323238);
    }
  }

  .containers {
    @include flex-box(row, na, end, wrap, na);
    .margin-padding-container {
      @include flex-box(column, na, na, na, na);
      .margin {
        width: 100px;
        background-color: #f4c3cb;
        &--ml-1 {
          height: 1px;
        }
        &--ml-2 {
          height: 2px;
        }
        &--ml-4 {
          height: 4px;
        }
        &--ml-8 {
          height: 8px;
        }
        &--ml-12 {
          height: 12px;
        }
        &--ml-16 {
          height: 16px;
        }
        &--ml-20 {
          height: 20px;
        }
        &--ml-24 {
          height: 24px;
        }
        &--ml-32 {
          height: 32px;
        }
        &--ml-40 {
          height: 40px;
        }
        &--ml-46 {
          height: 46px;
        }
        &--ml-48 {
          height: 48px;
        }
        &--ml-64 {
          height: 64px;
        }
        &--ml-80 {
          height: 80px;
        }
      }

      .box-txt {
        p {
          margin: 0;
          margin-top: 4px;
          @include typography($fs-large, na, $font-regular, #676879);
        }
      }
    }
  }
}

.border-container {
  @include flex-box(na, na, na, na, 60);
  .border-div {
    @include flex-box(column, na, na, na, 12);
    .borders {
      border: 2px solid #d83a52;
      background-color: transparent;
      box-sizing: border-box;
      @include dimensions(200, 200);
      @include flex-box(na, center, center, na, na);
      @include typography($fs-xxl, na, $font-bolder, #323238);
      &--small {
        border-radius: $border-radius-small;
      }
      &--medium {
        border-radius: $border-radius-medium;
      }
      &--large {
        border-radius: $border-radius-large;
      }
    }

    .box-shadow {
      @include dimensions(200, 200);
      box-sizing: border-box;
      padding: 43px 34px;
      border-radius: $border-radius-small;

      .shadow-header {
        border-bottom: 1px solid #dddede;
        padding-bottom: 4px;
        @include typography($fs-small, na, $font-medium, #202020);
      }

      .x-axis {
        margin-top: 12px;
        margin-bottom: 16px;
        @include flex-box(na, space-between, center, na, na);
        p {
          margin: 0;
          font-size: $fs-small;
          font-weight: $font-regular;
          color: #4d4d4d;
          @include typography($fs-small, na, $font-regular, #4d4d4d);
          span {
            @include typography($fs-small, na, $font-regular, #202020);
          }
        }
      }

      &--small {
        box-shadow: 0 3px 8px 0 #00000033;
      }
      &--medium {
        box-shadow: 0 6px 20px 0 #00000033;
      }
      &--large {
        box-shadow: 0 15px 50px 0 #00000033;
      }
    }

    .border-text {
      span {
        @include typography($fs-large, na, $font-medium, #323238);
      }
      p {
        margin: 0;
        @include typography($fs-large, na, $font-regular, #676879);
      }
    }
  }
}

.tabs-container {
  .tab-buttons {
    margin-bottom: 46px;
    @include flex-box(na, space-between, na, na, na);
    button {
      padding: 14px 141px;
      border: none;
      background: transparent;
      cursor: pointer;
      text-wrap: nowrap;
      border-bottom: 3px solid #d9d9d9;
      @include typography($fs-xxl, na, $font-regular, #676879);
      &.active {
        border-bottom: 3px solid #017bba;
        @include typography($fs-xxl, na, $font-bold, #323238);
      }
    }
  }

  .tab-content {
    padding: 28px;
    border: 1px solid #d0d4e4;
    background: #ffffff;
    border-radius: $border-radius-large;

    .typography-grid {
      display: grid;
      grid-template-columns: 150px 250px 250px auto;
      row-gap: 36px;
      align-items: start;
      padding: 24px;

      .class-name {
        padding: 0 30px;
        @include typography($fs-large, na, $font-regular, #676879);
      }

      .description {
        p {
          margin: 0;
          @include typography($fs-large, na, $font-regular, #676879);
        }
      }
    }
    // laptop
    .heading-laptop {
      color: #323238;
      .primary-heading {
        @include typography(
          $fs-secondary,
          na,
          $font-extra-bold,
          $primary-text-color
        );
      }

      .secondary-heading {
        @include typography(
          $fs-forth,
          $lh-secondary,
          $font-bolder,
          $primary-text-color
        );
      }

      .tertiary-heading {
        @include typography(
          $fs-xl,
          $lh-secondary,
          $font-light,
          $primary-text-color
        );
      }

      .fourth-heading {
        @include typography(
          $fs-xxl,
          $lh-xxl,
          $font-bolder,
          $primary-text-color
        );
      }

      .subtitle-1 {
        @include typography($fs-xl, $lh-xl, $font-bolder, $primary-text-color);
      }

      .subtitle-2 {
        @include typography(
          $fs-large,
          $lh-xxl,
          $font-medium,
          $primary-text-color
        );
      }

      .normal-text {
        @include typography(na, na, $font-regular, $primary-text-color);
        margin: 0;
        &.xl {
          @include typography(
            $fs-xl,
            $lh-xl,
            $font-regular,
            $primary-text-color
          );
        }

        &.large {
          @include typography(
            $fs-medium,
            $lh-xxl,
            $font-regular,
            $primary-text-color
          );
        }

        &.small {
          @include typography(
            $fs-small,
            $lh-xxl,
            $font-regular,
            $primary-text-color
          );
        }
      }

      .link-text {
        @include typography(na, $lh-xxl, $font-medium, $primary-text-color);
        &.large {
          font-size: $fs-large;
        }
        &.small {
          font-size: $fs-medium;
        }
      }
      .common-btn {
        @include typography(
          $fs-medium,
          $lh-xxl,
          $font-medium,
          $primary-text-color
        );
        &.small {
          font-size: $fs-small;
        }

        &.large {
          font-size: $fs-large;
        }

        &.x-large {
          @include typography(
            $fs-xl,
            $lh-xl,
            $font-bolder,
            $primary-text-color
          );
        }
      }

      .label {
        @include typography(na, $lh-xxl, $font-medium, $primary-text-color);
        &.x-large {
          font-size: $fs-large;
        }

        &.large {
          font-size: $fs-medium;
        }

        &.medium {
          font-size: $fs-small;
        }
      }

      .caption {
        line-height: $lh-xl;
        color: $primary-text-color;
        @include typography(na, $lh-xl, na, $primary-text-color);
        &.medium {
          @include typography(
            $fs-small,
            $lh-xl,
            $font-medium,
            $primary-text-color
          );
        }

        &.bold {
          font-size: $fs-small;
          font-weight: $font-bold;
        }
      }
    }

    //   tablet
    .heading-tablet {
      color: #323238;
      .primary-heading {
        @include typography(
          $fs-forth,
          na,
          $font-extra-bold,
          $primary-text-color
        );
      }

      .secondary-heading {
        @include typography(
          $fs-xl,
          $lh-secondary,
          $font-bolder,
          $primary-text-color
        );
      }

      .tertiary-heading {
        @include typography(
          $fs-xl,
          $lh-secondary,
          $font-light,
          $primary-text-color
        );
      }

      .fourth-heading {
        @include typography(
          $fs-xxl,
          $lh-xxl,
          $font-bolder,
          $primary-text-color
        );
      }

      .subtitle-1 {
        @include typography($fs-xl, $lh-xl, $font-bolder, $primary-text-color);
      }

      .subtitle-2 {
        @include typography(
          $fs-large,
          $lh-xxl,
          $font-medium,
          $primary-text-color
        );
      }

      .normal-text {
        @include typography(na, na, $font-regular, $primary-text-color);

        margin: 0;
        &.xl {
          @include typography(
            $fs-xl,
            $lh-xl,
            $font-regular,
            $primary-text-color
          );
        }

        &.large {
          @include typography(
            $fs-medium,
            $lh-xxl,
            $font-regular,
            $primary-text-color
          );
        }

        &.small {
          font-size: $fs-small;
        }
      }

      .link-text {
        @include typography(na, $lh-xxl, $font-medium, $primary-text-color);
        &.large {
          font-size: $fs-large;
        }
        &.small {
          font-size: $fs-medium;
        }
      }
      .common-btn {
        @include typography(
          $fs-medium,
          $lh-xxl,
          $font-medium,
          $primary-text-color
        );
        &.small {
          font-size: $fs-small;
        }

        &.large {
          font-size: $fs-large;
        }

        &.x-large {
          @include typography(
            $fs-xl,
            $lh-xl,
            $font-bolder,
            $primary-text-color
          );
        }
      }

      .label {
        @include typography(na, $lh-xxl, $font-medium, $primary-text-color);
        &.x-large {
          font-size: $fs-large;
        }

        &.large {
          font-size: $fs-medium;
        }

        &.medium {
          font-size: $fs-small;
        }
      }

      .caption {
        @include typography(na, $lh-xl, na, $primary-text-color);
        &.medium {
          @include typography(
            $fs-small,
            $lh-xl,
            $font-medium,
            $primary-text-color
          );
        }

        &.bold {
          @include typography(
            $fs-small,
            $lh-xl,
            $font-bold,
            $primary-text-color
          );
        }
      }
    }
    //   mobile
    .heading-mobile {
      color: #323238;
      .primary-heading {
        @include typography($fs-xl, na, $font-extra-bold, $primary-text-color);
      }

      .secondary-heading {
        @include typography(
          $fs-large,
          $lh-secondary,
          $font-bolder,
          $primary-text-color
        );
      }

      .tertiary-heading {
        @include typography(
          $fs-xl,
          $lh-secondary,
          $font-light,
          $primary-text-color
        );
      }

      .fourth-heading {
        @include typography(
          $fs-xxl,
          $lh-xxl,
          $font-bolder,
          $primary-text-color
        );
      }

      .subtitle-1 {
        @include typography($fs-xl, $lh-xl, $font-bolder, $primary-text-color);
      }

      .subtitle-2 {
        @include typography(
          $fs-large,
          $lh-xxl,
          $font-medium,
          $primary-text-color
        );
      }

      .normal-text {
        margin: 0;
        @include typography(na, na, $font-regular, $primary-text-color);
        &.xl {
          @include typography(
            $fs-xl,
            $lh-xl,
            $font-regular,
            $primary-text-color
          );
        }

        &.large {
          @include typography(
            $fs-medium,
            $lh-xxl,
            $font-regular,
            $primary-text-color
          );
        }

        &.small {
          @include typography(
            $fs-small,
            $lh-xxl,
            $font-regular,
            $primary-text-color
          );
        }
      }

      .link-text {
        @include typography(na, $lh-xxl, $font-medium, $primary-text-color);

        &.large {
          font-size: $fs-large;
        }
        &.small {
          font-size: $fs-medium;
        }
      }
      .common-btn {
        @include typography(
          $fs-medium,
          $lh-xxl,
          $font-medium,
          $primary-text-color
        );

        &.small {
          font-size: $fs-small;
        }

        &.large {
          font-size: $fs-large;
        }

        &.x-large {
          @include typography(
            $fs-xl,
            $lh-xl,
            $font-bolder,
            $primary-text-color
          );
        }
      }

      .label {
        @include typography(na, $lh-xxl, $font-medium, $primary-text-color);

        &.x-large {
          font-size: $fs-large;
        }

        &.large {
          font-size: $fs-medium;
        }

        &.medium {
          font-size: $fs-small;
        }
      }

      .caption {
        @include typography(na, $lh-xl, na, $primary-text-color);

        &.medium {
          @include typography(
            $fs-small,
            $lh-xl,
            $font-medium,
            $primary-text-color
          );
        }

        &.bold {
          @include typography(
            $fs-small,
            $lh-xl,
            $font-bold,
            $primary-text-color
          );
        }
      }
    }
  }
}

.labels {
  border-radius: $border-radius-small;
  padding: 4px;
  background-color: #eeeeef;
  height: 23px;
  @include typography($fs-medium, na, $font-medium, #4d4d4d);
  @include flex-box(na, na, center, na, na);
}
