@use "./mixins" as *;
@use "./foundation" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;
.nav {
  &.nav-tabs {
    gap: 12px;
    .nav-item {
      .nav-link {
        padding: 8px;
        @include typography($fs-medium, $lh-xxl, $font-medium, $secondary-text-color);
        &:hover {
          border-color: transparent;
        }
        &.active {
          border-color: transparent;
          color: $primary-text-color;
          border-bottom-color: $primary-color;
          border-bottom-width: 2px;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  &.nav-button-tabs {
    border-bottom: none;
    gap: 0;
    .nav-item-button {
      .nav-link {
        height: 32px;
        @include flex-box(na,center,center,na,8);
        @include typography($fs-medium, $lh-xxl, $font-medium, $secondary-text-color);
        &.active {
          border-color: transparent;
          border-bottom-color: transparent;
          @include typography($fs-medium, $lh-xxl, $font-medium, $primary-color);
          border-bottom-width: 0;
          border-radius: 8px;
          background-color: $primary-selected-color;
        }
      }
    }
  }
}
