.tooltip-container {
  border: 1px solid #d0d4e4;
  border-radius: 8px;
  padding: 32px;
  padding-left: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .tooltip-btn {
    width: max-content;
    font-size: 14px;
    font-weight: 400;
    color: #676879;
  }
  .tooltip-inner {
    padding: 8px;
    border-radius: 4px;
    // background-color: #323238;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    min-width: 78px;
    max-width: 300px;
    text-align: start;
  }

  // .tooltip-arrow {
  //   // color: #323238 !important;
  // }

  .no-arrow + .tooltip .tooltip-arrow {
    display: none !important;
  }
}
