@use "./mixins" as *;
@use "./theme/blue-theme" as *;
@use "./fonts/medium" as *;

h1,
.primary-heading {
  text-transform: capitalize;
  @include typography($fs-primary, na, $font-extra-bold, $primary-text-color);
  @include max-width(1366px) {
    font-size: $fs-secondary;
  }
  @include max-width(768px) {
    font-size: $fs-forth;
  }
  @include max-width(375px) {
    font-size: $fs-xl;
  }
}

h2,
.secondary-heading {
  text-transform: capitalize;
  @include typography(
    $fs-tertiary,
    $lh-secondary,
    $font-bolder,
    $primary-text-color
  );
  @include max-width(1366px) {
    font-size: $fs-forth;
  }
  @include max-width(768px) {
    font-size: $fs-xl;
  }
  @include max-width(375px) {
    font-size: $fs-large;
  }
}

h3,
.tertiary-heading {
  text-transform: capitalize;
  @include typography($fs-xl, $lh-secondary, $font-light, $primary-text-color);
}

h4,
.fourth-heading {
  text-transform: capitalize;
  @include typography($fs-xxl, $lh-tertiary, $font-bolder, $primary-text-color);
}

h5,
.subtitle-1 {
  text-transform: capitalize;
  @include typography($fs-xl, $lh-forth, $font-bolder, $primary-text-color);
}

h6,
.subtitle-2 {
  text-transform: capitalize;
  @include typography($fs-large, $lh-xxl, $font-medium, $primary-text-color);
}

p,
.normal-text {
  @include typography(na, na, $font-regular, $primary-text-color);
  margin: 0;

  &.xl {
    @include typography($fs-xl, $lh-forth, $font-regular, $primary-text-color);
  }

  &.large {
    @include typography($fs-large, $lh-xxl, $font-regular, $primary-text-color);
    @include max-width(1366px) {
      font-size: $fs-medium;
    }
    @include max-width(768px) {
      font-size: $fs-medium;
    }

    @include max-width(375px) {
      font-size: $fs-medium;
    }
  }

  &.small {
    font-size: $fs-small;
  }
}

a,
.link-text {
  text-transform: capitalize;
  @include typography(na, $lh-xxl, $font-medium, $primary-text-color);

  &.large {
    font-size: $fs-large;
  }
  &.small {
    font-size: $fs-medium;
  }
}

button,
.common-btn {
  text-transform: capitalize;
  @include typography($fs-medium, na, $font-medium, $primary-text-color);

  &.small {
    font-size: $fs-small;
  }

  &.large {
    font-size: $fs-large;
    @include max-width(375px) {
      font-size: $fs-medium;
    }
  }

  &.x-large {
    @include typography($fs-xl, $lh-forth, $font-bolder, $primary-text-color);
  }
}

label,
.label {
  text-transform: capitalize;
  @include typography(na, $lh-xxl, $font-medium, $primary-text-color);

  &.x-large {
    font-size: $fs-xl;
    @include max-width(1366px) {
      font-size: $fs-large;
    }
  }

  &.large {
    font-size: $fs-large;
    @include max-width(1366px) {
      font-size: $fs-medium;
    }
  }

  &.medium {
    font-size: $fs-medium;
    @include max-width(1366px) {
      font-size: $fs-small;
    }
  }
}

span,
.caption {
  text-transform: capitalize;
  @include typography(na, $lh-xl, na, $primary-text-color);

  &.medium {
    @include typography($fs-small, $lh-xl, $font-medium, $primary-text-color);
  }

  &.bold {
    @include typography($fs-small, $lh-xl, $font-bolder, $primary-text-color);
    @include max-width(1366px) {
      @include typography($fs-small, $lh-xl, $font-bold, $primary-text-color);
    }
  }
}
