@use "./theme/blue-theme" as *;
@use "./mixins" as *;
@use "./fonts/medium" as *;

//same media query font size remove

h1,
.primary-heading {
  font-size: $fs-primary;
  color: $primary-text-color;
  font-weight: $font-extra-bold;
  text-transform: capitalize;
  @include max-width(1366px) {
    font-size: $fs-secondary;
  }
  @include max-width(768px) {
    font-size: $fs-forth;
  }
  @include max-width(375px) {
    font-size: $fs-xl;
  }
}

h2,
.secondary-heading {
  font-size: $fs-tertiary;
  line-height: $lh-secondary;
  color: $primary-text-color;
  font-weight: $font-bolder;
  text-transform: capitalize;

  @include max-width(1366px) {
    font-size: $fs-forth;
  }
  @include max-width(768px) {
    font-size: $fs-xl;
  }
  @include max-width(375px) {
    font-size: $fs-large;
  }
}

h3,
.tertiary-heading {
  font-size: $fs-xl;
  line-height: $lh-secondary;
  color: $primary-text-color;
  font-weight: $font-light;
  text-transform: capitalize;
}

h4,
.fourth-heading {
  font-size: $fs-xxl;
  line-height: $lh-tertiary;
  color: $primary-text-color;
  font-weight: $font-bolder;
  text-transform: capitalize;
}

h5,
.subtitle-1 {
  font-size: $fs-xl;
  line-height: $lh-forth;
  color: $primary-text-color;
  font-weight: $font-bolder;
  text-transform: capitalize;
}

h6,
.subtitle-2 {
  font-size: $fs-large;
  line-height: $lh-xxl;
  color: $primary-text-color;
  font-weight: $font-medium;
  text-transform: capitalize;
}

p,
.normal-text {
  color: $primary-text-color;
  font-weight: $font-regular;
  margin: 0;
  &.xl {
    font-size: $fs-xl;
    line-height: $lh-forth;
  }

  &.large {
    font-size: $fs-large;
    line-height: $lh-xxl;
    @include max-width(1366px) {
      font-size: $fs-medium;
    }
    @include max-width(768px) {
      font-size: $fs-medium;
    }

    @include max-width(375px) {
      font-size: $fs-medium;
    }
  }

  &.small {
    font-size: $fs-small;
  }
}

a,
.link-text {
  line-height: $lh-xxl;
  color: $primary-text-color;
  font-weight: $font-medium;
  text-transform: capitalize;

  &.large {
    font-size: $fs-large;
  }
  &.small {
    font-size: $fs-medium;
  }
}

button,
.common-btn {
  font-size: $fs-medium;
  color: $primary-text-color;
  font-weight: $font-medium;
  text-transform: capitalize;

  &.small {
    font-size: $fs-small;
  }

  &.large {
    font-size: $fs-large;
    @include max-width(375px) {
      font-size: $fs-medium;
    }
  }

  &.x-large {
    font-size: $fs-xl;
    line-height: $lh-forth;
    font-weight: $font-bolder;
  }
}

label,
.label {
  line-height: $lh-xxl;
  color: $primary-text-color;
  font-weight: $font-medium;
  text-transform: capitalize;

  &.x-large {
    font-size: $fs-xl;
    @include max-width(1366px) {
      font-size: $fs-large;
    }
  }

  &.large {
    font-size: $fs-large;
    @include max-width(1366px) {
      font-size: $fs-medium;
    }
  }

  &.medium {
    font-size: $fs-medium;
    @include max-width(1366px) {
      font-size: $fs-small;
    }
  }
}

span,
.caption {
  line-height: $lh-xl;
  color: $primary-text-color;
  text-transform: capitalize;

  &.medium {
    font-size: $fs-small;
    font-weight: $font-medium;
  }

  &.bold {
    font-size: $fs-small;
    font-weight: $font-bolder;
    @include max-width(1366px) {
      font-size: $fs-small;
      font-weight: $font-bold;
    }
  }
}
