<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'left-side-navbar'">
    <div class="containers">
      <div class="navbar-container small-sidebar">
        <div class="upper-icons">
          <div class="icon-div">
            <span class="icon-watch"></span>
          </div>
          <div class="icon-div">
            <span class="icon-start-vector"></span>
          </div>
          <div class="icon-div">
            <span class="icon-userpng"></span>
          </div>
          <div class="icon-div active">
            <span class="icon-Vector-Stroke-9"></span>
          </div>
        </div>

        <div class="down-icons">
          <!-- <div class="icon-div">
          <span class="icon-Vector-Stroke-12"></span>
        </div> -->
        </div>
      </div>

      <div class="navbar-container large-sidebar">
        <div class="upper-icons">
          <div class="icon-div">
            <span class="icon-Vector-Stroke-9"></span> <p>Sales</p>
          </div>
          <div class="icon-div">
            <span class="icon-Vector-Stroke-9"></span> <p>Customers</p>
          </div>
          <div class="icon-div active">
            <span class="icon-Vector-Stroke-9"></span> <p>Expenses</p>
          </div>
        </div>

        <div class="down-icons">
          <!-- <div class="icon-div">
          <span class="icon-Vector-Stroke-12"></span>
        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
