<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'page-one'">
    <div class="page-layout">
      <div class="header-container">
        <div class="switch-tab">
          <p>Switch To Report BI</p>
          <div class="switchBox">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
        </div>

        <div class="more-icon">
          <span class="icon-Vector-Stroke2 icon--vs"></span>
        </div>

        <button class="d-btn--circle brown-bg-circle sm">OS</button>
      </div>
      <div class="main-content">
      <div class="navbar-container small-sidebar">
        <div class="upper-icons">
          <div class="icon-div">
            <button
              type="button"
              class="d-btn tooltip-btn"
              placement="end"
              ngbTooltip="Tooltip on end"
            >
              <span class="icon-watch"></span>
            </button>
          </div>
          <div class="icon-div">
            <button
              type="button"
              class="d-btn tooltip-btn"
              placement="end"
              ngbTooltip="Tooltip on end"
            >
              <span class="icon-start-vector"></span>
            </button>
          </div>
          <div class="icon-div">
            <button
              type="button"
              class="d-btn tooltip-btn"
              placement="end"
              ngbTooltip="Tooltip on end"
            >
              <span class="icon-userpng"></span>
            </button>
          </div>
          <div class="icon-div active">
            <button
              type="button"
              class="d-btn tooltip-btn"
              placement="end"
              ngbTooltip="Tooltip on end"
            >
              <span class="icon-Vector-Stroke-9"></span>
            </button>
          </div>
        </div>

        <div class="down-icons">
          <!-- <div class="icon-div">
          <span class="icon-Vector-Stroke-12"></span>
        </div> -->
        </div>
      </div>
        <div class="content">
          <div class="subheader-container">
            <div class="top-container">
              <div class="left">Payout</div>

              <div class="right">
                <div class="search-box-app desktop">
                  <input type="text" placeholder="Search here..." />
                  <span class="icon-Vector-12"></span>
                </div>

                <button
                  class="d-btn d-btn--tertiary tooltip-btn sm"
                  placement="top"
                  [ngbTooltip]="!showTooltip ? 'Filter' : null"
                >
                  <span class="icon-Icon-Stroke-10"></span>
                  <p>Filter</p>
                </button>
                <div
                  class="d-btn d-btn--tertiary tooltip-btn sm"
                  placement="top"
                  [ngbTooltip]="!showTooltip ? 'RCM' : null"
                >
                  <span class="icon-Vector-Stroke-2"></span>
                  <p>RCM</p>
                </div>
                <div
                  class="d-btn d-btn--tertiary tooltip-btn sm"
                  placement="top"
                  [ngbTooltip]="!showTooltip ? 'Upload' : null"
                >
                  <span class="icon-Vector-Stroke-1"></span>
                  <p>Upload</p>
                </div>

                <div
                  class="d-btn d-btn--tertiary tooltip-btn sm"
                  placement="top"
                  [ngbTooltip]="!showTooltip ? 'Export as Excel' : null"
                >
                  <div class="excel">
                    <span class="icon-microsoft-excel-icon1-1">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                      <span class="path6"></span>
                      <span class="path7"></span>
                      <span class="path8"></span>
                      <span class="path9"></span>
                      <span class="path10"></span>
                      <span class="path11"></span>
                    </span>
                    <p>Export as Excel</p>
                  </div>
                  <span class="icon-Vector"></span>
                </div>

                <button
                  class="d-btn d-btn--tertiary tooltip-btn sm"
                  placement="top"
                  [ngbTooltip]="!showTooltip ? 'More' : null"
                >
                  <span class="icon-Icon-Stroke-1 icon--vs"></span>
                </button>

                <button
                  class="d-btn d-btn--primary tooltip-btn desktop sm"
                  placement="top"
                  [ngbTooltip]="!showTooltip ? 'Add Mannual Checklist' : null"
                >
                  <span class="icon-Icon-Stroke-2 vs"></span>
                  <p class="add">Add Mannual Checklist</p>
                </button>
              </div>
            </div>
            <div class="mobile-right">
              <div class="search-box-app mobile">
                <input type="text" placeholder="Search here..." />
                <span class="icon-Vector-12"></span>
              </div>
              <button
                class="d-btn d-btn--primary tooltip-btn sm"
                placement="top"
                [ngbTooltip]="!showTooltip ? 'Add Mannual Checklist' : null"
              >
                <span class="icon-Icon-Stroke-2 vs"></span>
                <p class="add">Add Mannual Checklist</p>
              </button>
            </div>
          </div>
          
          <table class="table-container">
            <thead>
              <tr>
                <th class="head">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                  Sub Process
                </th>
                <th>Activity</th>
                <th>Risk</th>
                <th>Severity</th>
                <th>Control</th>
                <th>Automatable</th>
                <th>Checkpoint</th>
                <th>
                  <span class="icon-Icon-Stroke-3"></span>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--danger vs">AI</button>
                  Antivirus Installation
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--danger">High</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--success vs">IA</button>

                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--warning">
                    Medium
                  </button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--purple vs">IT</button>
                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--success">Low</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--danger vs">AI</button>
                  Antivirus Installation
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--danger">High</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--success vs">IA</button>

                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--warning">
                    Medium
                  </button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--purple vs">IT</button>
                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--success">Low</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--danger vs">AI</button>
                  Antivirus Installation
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--danger">High</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--success vs">IA</button>

                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--warning">
                    Medium
                  </button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--purple vs">IT</button>
                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--success">Low</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--danger vs">AI</button>
                  Antivirus Installation
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--danger">High</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--success vs">IA</button>

                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--warning">
                    Medium
                  </button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--purple vs">IT</button>
                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--success">Low</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--success vs">IA</button>

                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--warning">
                    Medium
                  </button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--purple vs">IT</button>
                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--success">Low</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--danger vs">AI</button>
                  Antivirus Installation
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--danger">High</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--success vs">IA</button>

                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--warning">
                    Medium
                  </button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--success vs">IA</button>

                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--warning">
                    Medium
                  </button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--purple vs">IT</button>
                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--success">Low</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--danger vs">AI</button>
                  Antivirus Installation
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--danger">High</button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="first-row">
                  <label class="custom-checkbox custom-checkbox--vs">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>

                  <button class="d-btn--circle light-bg--success vs">IA</button>

                  Internal Audit
                </td>
                <td>Antivirus Installed on...</td>
                <td>There are many variations...</td>
                <td>
                  <button class="d-btn-small d-btn-small--warning">
                    Medium
                  </button>
                </td>
                <td>It is a long estab...</td>
                <td>No</td>
                <td>Contrary to popular be...</td>
                <td>
                  <span
                    class="icon-dots-horizontal-5 icon--xxl more-icon"
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="pagination">
            <p class="text">Rows per page</p>
            <div class="d-btn d-btn--tertiary vs">
              <p>12</p>
              <span class="icon-Vector-1"></span>
            </div>
            <p class="text">1-9 0f 100</p>

            <div class="pagination-svg">
              <div class="page-svg">
                <span class="icon-Vector-2"></span>
              </div>

              <div class="page-svg">
                <span class="icon-Vector-5"></span>
              </div>

              <div class="page-svg">
                <span class="icon-Vector-31"></span>
              </div>

              <div class="page-svg">
                <span class="icon-Vector-6"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
