<div [ngSwitch]="inputClass">
  <!-- ======================================= Date And Time ==================================-->

  <div *ngSwitchCase="'date&time'">
    <div class="outer-container">
      <div class="heading">
        <h1>Inputs</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          Date and time in the context of forms refers to input fields that
          allow users to specify both a date and a time. These fields are used
          when collecting information that requires both date and time details,
          such as scheduling appointments, setting deadlines, or recording
          events.
        </p>
      </div>
      <div class="container">
        <div class="calendar">
          <div class="calendar-header">
            <p class="calendar-year">{{ currentDate.getFullYear() }}</p>
            <h2>
              {{ currentDate.toLocaleString("default", { month: "long" }) }}
              {{ currentDate.getFullYear() }}
            </h2>
          </div>

          <div class="calendar-controls">
            <button (click)="prevMonth()">←</button>
            <p class="curMonth">
              {{ currentDate.toLocaleString("default", { month: "long" }) }}
              {{ currentDate.getFullYear() }}
            </p>
            <button (click)="nextMonth()">→</button>
          </div>

          <div class="calendar-grid">
            <div
              class="day-name"
              *ngFor="let day of ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa']"
            >
              {{ day }}
            </div>
            <button
              *ngFor="let day of monthDays"
              class="calendar-day"
              [class.selected]="selectedDate?.getDate() === day"
              (click)="selectDate(day)"
            >
              {{ day }}
            </button>
          </div>

          <div class="calendar-actions">
            <button>Cancel</button>
            <button>Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ======================================= Switch==================================-->

  <div *ngSwitchCase="'switch'">
    <div class="outer-container">
      <div class="heading">
        <h1>Inputs</h1>
        <div class="line"></div>
        <h2>{{ heading }}</h2>
        <p>
          A "switch" in the context of forms typically refers to a graphical
          user interface (GUI) element that represents a binary state, allowing
          users to toggle between two options - usually "on" and "off". This
          switch is also known as a toggle switch or a toggle button.
        </p>
      </div>

      <div class="container">
        <div class="switchBox">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
      </div>

      <div class="container">
        <div class="switchBox">
          Label
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
