<div [ngSwitch]="inputClass">
  <div *ngSwitchCase="'header'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          A tooltip is a user interface element that provides additional
          information or context about an item when users hover over or interact
          with it. Tooltips typically appear as small pop-up windows or text
          boxes near the item being hovered over, offering brief explanations,
          descriptions, or labels.
        </p>
      </div>
      <div class="header-container">
        <div class="switch-tab">
          <p>Switch To Report BI</p>
          <div class="switchBox">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
        </div>

        <div class="more-icon">
          <span class="icon-Vector-Stroke2 icon--vs"></span>
        </div>

        <button class="d-btn--circle brown-bg-circle sm">OS</button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'subheader'">
    <div class="outer-container">
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="line"></div>
        <h2>Overview</h2>
        <p>
          A tooltip is a user interface element that provides additional
          information or context about an item when users hover over or interact
          with it. Tooltips typically appear as small pop-up windows or text
          boxes near the item being hovered over, offering brief explanations,
          descriptions, or labels.
        </p>
      </div>
      <div class="subheader-container">
        <div class="top-container">
          <div class="left">Payout</div>

          <div class="right">
            <div class="search-box-app desktop">
              <input type="text" placeholder="Search here..." />
              <span class="icon-Vector-12"></span>
            </div>

            <button
              class="d-btn d-btn--tertiary tooltip-btn sm"
              placement="top"
              [ngbTooltip]="!showTooltip ? 'Filter' : null"
            >
              <span class="icon-Icon-Stroke-10"></span>
              <p>Filter</p>
            </button>
            <div
              class="d-btn d-btn--tertiary tooltip-btn sm"
              placement="top"
              [ngbTooltip]="!showTooltip ? 'RCM' : null"
            >
              <span class="icon-Vector-Stroke-2"></span>
              <p>RCM</p>
            </div>
            <div
              class="d-btn d-btn--tertiary tooltip-btn sm"
              placement="top"
              [ngbTooltip]="!showTooltip ? 'Upload' : null"
            >
              <span class="icon-Vector-Stroke-1"></span>
              <p>Upload</p>
            </div>

            <div
              class="d-btn d-btn--tertiary tooltip-btn sm"
              placement="top"
              [ngbTooltip]="!showTooltip ? 'Export as Excel' : null"
            >
              <div class="excel">
                <span class="icon-microsoft-excel-icon1-1"
                  ><span class="path1"></span><span class="path2"></span
                  ><span class="path3"></span><span class="path4"></span
                  ><span class="path5"></span><span class="path6"></span
                  ><span class="path7"></span><span class="path8"></span
                  ><span class="path9"></span><span class="path10"></span
                  ><span class="path11"></span
                ></span>
                <p>Export as Excel</p>
              </div>
              <span class="icon-Vector"></span>
            </div>

            <button
              class="d-btn d-btn--tertiary tooltip-btn sm"
              placement="top"
              [ngbTooltip]="!showTooltip ? 'More' : null"
            >
              <span class="icon-threedots icon--sm"></span>
            </button>
            <button
              class="d-btn d-btn--primary tooltip-btn desktop sm"
              placement="top"
              [ngbTooltip]="!showTooltip ? 'Add Mannual Checklist' : null"
            >
              <span class="icon-Icon-Stroke-2 vs"></span>
              <p class="add">Add Mannual Checklist</p>
            </button>
          </div>
        </div>
        <div class="mobile-right">
          <div class="search-box-app mobile">
            <input type="text" placeholder="Search here..." />
            <span class="icon-Vector-12"></span>
          </div>
          <button
            class="d-btn d-btn--primary tooltip-btn sm"
            placement="top"
            [ngbTooltip]="!showTooltip ? 'Add Mannual Checklist' : null"
          >
            <span class="icon-Icon-Stroke-2 vs"></span>
            <p class="add">Add Mannual Checklist</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
